[2013-04-08 05:45] mchitre opened #1 "IllegalArgumentException when agent property is set from behavior closure"
If the GroovyAgentExtensions are used to create a behavior from a closure, the delegate of the closure is set to be the behavior, and the owner is usually the agent in which the closure is created. The delegation strategy is set to DELEGATE_FIRST, and so any property access will use properties in the behavior first, and if that fails, in the agent.  However, this does not work as expected -- a pro

[2013-04-23 03:49] rohitbhatnagar85 opened #2 "BaseGroovyScript should use request() rather than doRequest() on ShellAgent"
doRequest() and doReceive() have been removed but BaseGroovyScript still calls them.

[2013-04-23 04:55] #2 closed, assigned to nobody

[2013-05-04 08:50] #1 closed, assigned to mchitre

[2013-05-06 10:55] mchitre opened #3 "Support for message tracing for debugging"
It would be nice to have logging support in fjåge to trace message exchanges between selected agents.

[2013-05-11 08:35] #3 closed, assigned to mchitre

[2013-06-19 08:47] mchitre opened #4 "Change agent message logging to FINER log level"
This will allow these logs to be turned on/off even when other debug logs are at FINE level.  Also ensure that the startup script has option to switch to this level.

[2013-06-19 08:50] mchitre opened #5 "Slave container termination causes master container to hang with long timeout"
Slave container termination should be detected by master container, and the slave container should be removed. However, if the slave terminates abnormally, the master should have a short timeout RMI call to detect, and remove it. The timeout observed on an ARM eJRE 1.6 was about 3 minutes, and ended up with a ConcurrentModificationException when attempting to remove the slave container from the li

[2013-06-24 10:54] #4 closed, assigned to mchitre

[2013-06-24 10:54] #5 closed, assigned to mchitre

[2013-07-26 10:05] mchitre opened #6 "Add command to prompt user, and accept user input in shell"

[2013-08-01 15:36] mchitre opened #7 "ConcurrentModificationException in MasterContainer"
Exception occurred after connecting to container before all agents were fully started, then disconnecting, and rapidly connecting again:

[code]

[2013-08-01 15:38] mchitre opened #8 "SwingShell should support history filtering based on partially typed commands"
If a command is partially typed, and history search is invoked, only history entries starting the the command should be shown (like MATLAB).

[2013-08-01 15:43] mchitre opened #9 "SwingShell should provide a way to save command/response log"
It would be good for command log to also have time stamps

[2013-08-01 15:45] mchitre opened #10 "Show connection details for SlaveContainer in shell"
This would be natural in SwingShell, but also useful in other shells.  Since SlaveContainer auto-reconnects, a connection status would be good to have.

[2013-08-01 17:13] mchitre opened #11 "Automatically check/uncheck subscription menu items in SwingShell"
If subscribe() or unsubscribe() are manually called, custom GUI menu items may represent wrong state of subscription.  Figure out a way to dynamically update the subscriptions.

[2013-08-01 17:30] #7 closed, assigned to mchitre

[2013-08-24 16:06] #10 closed, assigned to mchitre

[2013-08-24 16:07] mchitre opened #12 "Multi-line editing support for SwingShell"
It would be nice to have multi-line editing when a nested (incomplete) command is typed into the text box.

[2013-10-21 14:37] mchitre opened #13 "Add support for peer-to-peer container messaging"
To allow 2 independent fjåge applications to exchange messages, it would be good to have peer-to-peer container messaging support.

[2013-10-26 10:26] mchitre opened #14 "Fjåge crashes occasionally on shutdown"
[code]

[2013-12-27 17:32] mchitre opened #17 "Issue a warning when a closure is named in a script instead of being called"
In a script, we can name a closure and it automatically runs (e.g. "probe" => "probe()").  However, this does not work in a script, and is a big gotcha.  It would be nice to issue a warning in  a script when this happens.

[2013-12-27 17:38] #14 closed, assigned to mchitre

[2014-01-18 11:22] mchitre opened #18 "Add command "exit" to have the same effect as ^D in a shell"

[2014-01-20 12:29] manuignatius opened #19 "fjage shell freezes in Cygwin for Windows"
When fjage is started by "./fjage.sh" in Cygwin, Windows, it freezes after showing the shell prompt - '>' (screenshot attached).
![fjage_freeze_problem](https://f.cloud.github.com/assets/4144181/1954087/6991f822-81ce-11e3-927d-75c85fa60abe.png)

However, it doesn't happen in if I set the GUI option to true in the fjage.sh file. The log file shows the following,

1390220672801|INFO|org.arl.fjage.sh

[2014-02-13 08:51] manuignatius opened #20 "Display any errors while using shell script in the UI"
When we use unetsh script to spawn the ui to connect to the simulator or the modem, if there is an error, it will get logged in the log file. However, a user will have no way to knowing it without explicitly looking at the log files. It would be helpful to display the error in the UI for the user to see.

[2014-02-26 05:48] rohitbhatnagar85 opened #21 "Creation of a new agent inside other agent hangs the stack"
If we try to add an agent inside `init()` of `setup()` of other agent it hangs the stack.
For example trying the following in NodeInfo agent will reproduce the issue.

[code]

[2014-02-27 06:28] #21 closed, assigned to mchitre

[2014-04-29 09:30] mchitre opened #22 "ConcurrentModificationException at startup"
Happens occasionally when running a discrete event simulation with multiple agents.

[code]

[2014-05-14 08:56] #22 closed, assigned to mchitre

[2014-07-04 07:04] #20 closed, assigned to mchitre

[2014-07-04 07:39] #18 closed, assigned to mchitre

[2014-07-22 03:40] #19 closed, assigned to mchitre

[2015-01-19 12:20] rohitbhatnagar85 opened #24 "[doc] quickstart link now gets redirected to another link by GitHub"
Quickstart link https://raw.github.com/org-arl/fjage/master/src/sphinx/fjage_quickstart.sh now gets redirected to https://raw.githubusercontent.com/org-arl/fjage/master/src/sphinx/fjage_quickstart.sh

```curl```  command needs to be changed with either of following in documentation:

[code]
or
[code]

Also the links inside the script ```fjage_quickstart.sh```  should also be fixed accordingly.

[2015-12-21 19:08] rohitbhatnagar85 opened #25 "[WebShell] provision for automatic port selection and port number query"
When the ```WebShell``` is configured to run ``` WebServer``` with automatic port selection, it would be useful to have the port number exposed, which can be queried by the applications.

[2015-12-22 03:12] mchitre commented on #24
Fixed in commit e576c72dbe.

[2015-12-22 03:13] #24 closed

[2015-12-22 03:58] mchitre commented on #25
Added support in 42b3fe7a0a0.  Untested.  Please test.

[2015-12-23 05:22] rohitbhatnagar85 commented on #25
Thanks @mchitre the fix works as requested. But as the assigned port can be queried only after the startup of platform, and other agents may not have the reference of WebShell available with them. Can we expose the ```Shell``` from the ```ShellAgent``` so that we can query it easily.
[code]
Should I add the getter in ```ShellAgent```?

[2015-12-23 07:58] mchitre commented on #25
No can do.  The ```ShellAgent``` knows nothing about web servers, as that is the job of the ```WebShell```.  So it would not be right to have a ```getPort()``` method on the ```ShellAgent```.

[2015-12-23 08:00] rohitbhatnagar85 commented on #25
but can it have a method ```getShell()``` which will return the shell (which can be of any type)

[2015-12-23 08:01] mchitre commented on #25
Ah, now I understand your question.  Yes, that should be fine.

[2015-12-23 08:04] rohitbhatnagar85 commented on #25
So basically we can query ```ShellAgent``` for the ```Shell``` and the application can figure out which shell it is looking for based on the underlying class type.

[2015-12-23 08:26] mchitre commented on #25
Yes, that is fine.  Or if the application created the shell in the first place, it will know.

[2016-01-02 03:09] mchitre commented on #25
Method ```getShell()``` added in 3d5127111328eca35f86d8a2b1d7030d10bdcaba.

[2016-01-02 03:10] #25 closed

[2016-01-09 14:01] mchitre opened #26 "Consider refactoring fjåge to use concurrent framework, rather than threads and sync"
The Java `Executor` framework provides a clean implementation of thread pools. This may be a safer way of managing agent behaviors, rather than the current way of handling them as individual threads.  The Java concurrent utils also provides copy-on-modify lists, which may be better to use than the current method of synchronizing all access to frequently read (but infrequently modified) lists in `A

[2016-02-02 04:11] manuignatius opened #28 "Better error reporting for spelling errors in fjage shell"
Print better error messages for spelling exceptions (see the screenshot)

<img width="847" alt="screen shot 2016-02-02 at 11 57 40 am" src="https://cloud.githubusercontent.com/assets/4144181/12739597/f133bb1e-c9a5-11e5-9677-6bb13cda577a.png">

[2016-02-05 07:12] notthetup opened #29 "Update quick start guide to support non-PowerShell usecase"
The windows section of the [Quick Start guide](https://org-arl.github.io/fjage/doc/html/quickstart.html) uses [a power shell script](https://raw.githubusercontent.com/org-arl/fjage/master/src/sphinx/fjage_quickstart.ps1) to download the relevant jars and and create a `.bat` file.

While makes for a great solution for *nix systems to allow a single command install, it would be more common for windo

[2016-03-01 15:00] rohitbhatnagar85 opened #30 "History doesn't come in web shell using up key"
<img width="832" alt="screen shot 2016-03-01 at 8 28 34 pm" src="https://cloud.githubusercontent.com/assets/1551764/13430766/5c947bc6-dfec-11e5-8a5a-d01d41d0560f.png">

[2016-03-02 07:30] mchitre commented on #29
@notthetup : Would you be open to fixing this sometime? Perhaps not for the upcoming release, but sometime down the road?

[2016-03-02 07:36] mchitre commented on #30
@rohitbhatnagar85 : Do you plan to fix this for the upcoming release?

[2016-03-02 07:49] rohitbhatnagar85 commented on #30
@mchitre: Yes planning to debug this soon. will request for help if stuck anywhere.

[2016-03-02 09:05] notthetup commented on #29
Yes. I this is on my radar. You can assign it to me.

[2016-03-02 17:12] rohitbhatnagar85 commented on #30
The issue was happening only in Chrome and was working fine in Safari browser.
Looks like there is a global Javascript variable named ```history``` already defined and was causing the clash with our command history variable. Renaming it solved the problem.

[2016-03-02 17:12] #30 closed

[2016-03-02 23:57] notthetup commented on #30
Yup. `window.history` is used by the [history API](https://developer.mozilla.org/en-US/docs/Web/API/History_API)

[2016-05-26 08:28] notthetup opened #31 "Support SSLServerSocket connections to remote container for security."
`MasterContainer` uses [ServerSocket](https://github.com/org-arl/fjage/blob/a3b9561d1477ad42626bca134612511202a167b5/src/main/java/org/arl/fjage/remote/MasterContainer.java#L32) to connect to remote containers. Using [SSLServerSocket](http://download.java.net/jdk7/archive/b123/docs/api/javax/net/ssl/SSLServerSocket.html) would allow this connection to be secure

[2016-08-11 03:40] notthetup opened #32 "ShellExecReq requires args"
`ShellExecReq` requires `args` property to be of type Array to have the request be executed by `GroovyScriptEngine` https://github.com/org-arl/fjage/blob/a3b9561d1477ad42626bca134612511202a167b5/src/main/groovy/org/arl/fjage/shell/GroovyScriptEngine.java#L263

If it's called with without an `args` the following error is seen.

[code]

[2016-08-11 09:23] manuignatius opened #33 "setCommand logic in ShellExecReq class"
In ShellExecReq class, setter logic for cmd & script seems wrong.

Instead of :

[code]

may be use :

[code]

as the first one will not raise an exception when cmd = null and script != null - which is the case when the setter method is first invoked.

[2017-02-21 04:22] notthetup opened #34 "Fjage Gateway in Python"
We are adding python gateway support for `fjage`. WIP on this branch https://github.com/org-arl/fjage/tree/python.

The following tasks need to completed for this effort:

- [x] Python Shell Integration
- [x] Test
- [x] Documentation
- [x] Packaging and Publishing

** Python Shell Integration **

There is a need to integrate a python shell into the fjage gateway python port. This shell when run, s

[2017-02-21 06:13] notthetup opened #35 "Document fjage's JSON message structure"
From v1.4 onwards `fjage` uses "JSON over TCP" for messaging between `Containers`. The structure of the JSON messages should be documented.

[2017-02-21 06:16] notthetup opened #36 "Generate documentation for fjage Gateway in Python."
We are adding python gateway support for fjage. WIP on this branch https://github.com/org-arl/fjage/tree/python.

The sphinx documentation generation system should be extended to generate both API documentation and "User Guide" for the Python `Gateway` implementation.

[2017-02-21 06:21] #36 closed

[2017-02-24 07:14] notthetup commented on #34
Commit 654333dcb adds iPython shell with `fjage.py`

[2017-10-09 08:38] prasadtiru opened #37 "Method to get the agent id running using Gateway class"
Added the following piece of code in `Gateway.java` and tested. Works fine. I'm not sure if documentation is up to the mark. So prof @mchitre can perhaps improve it and suggest any changes before committing.

[code]

[2017-11-09 06:58] prasadtiru opened #38 "Issue with ordering of "clazz" and "data" keys in Json message"
Tested on the dev branch. Following is the issue:

Two identical Json messages are generated, the first one is using python gateway and the second one is using `rconsole.sh` script. The json messages are following:

[code]
[code]
The only difference is the order of `"clazz"` and `"data"` keys. The issue is that `ShellExecReq` message is handled only when the `"clazz"` key appears before `"data"` k

[2017-11-09 07:14] mchitre commented on #38
Yes, both ``MessageAdapterFactory`` and ``GenericValueAdaptorFactory`` assume that the ``clazz`` key is read before the actual object. This is necessary to ensure that the JSON doesn't have to be parsed twice, and so is a performance enhancement, while it breaks strict JSON as it requires ordering of keys. The only workaround I can think of would have a large performance impact, since serializatio

[2017-11-09 07:17] prasadtiru commented on #38
Yes. Can handle that in Python. Will make sure `"clazz"` comes first.

[2017-11-09 11:04] mchitre commented on #38
We'll keep issue open, to eventually be fully JSON compliant in fjåge, once we have a good way of handling it with minimal performance impact.

[2017-11-30 09:28] prasadtiru opened #39 "Additional key in json message to identify the type of the array being carried"
We need an additional key in json message to figure out the type of data in order to decode it in python json parser.

[2017-12-05 08:00] mchitre commented on #39
Done

[2017-12-05 08:00] #39 closed

[2017-12-05 08:20] mchitre commented on #37
Added `getAgentID()` method to `Gateway` class in commit e34c74fc4561480656a7ce7ef9d17af212846934

[2017-12-05 08:20] #37 closed

[2017-12-05 08:21] mchitre commented on #34
Releasing in v1.4.1

[2017-12-05 08:21] #34 closed

[2017-12-05 08:26] mchitre commented on #33
I can't see why the logic is wrong, perhaps you can think through again and explain....

[2017-12-05 08:45] mchitre commented on #32
Fixed in commit 955138707b645a5b5b7a450cf2e1a94c87516be6

[2017-12-05 08:45] #32 closed

[2017-12-10 17:09] mchitre opened #40 "Base64 only available in Java 1.8"
The JSON adapter uses `java.util.Base64` class, which is only available in Java 1.8.  However, the build is marked as compatible with Java 1.7.  Resolve!

[2017-12-27 04:07] #33 closed

[2018-02-13 05:05] mchitre opened #41 "C gateway does not support `GenericMessage`"
The JSON message representing a `GenericMessage` is quite different than normal classes, and is not supported by the C gateway at present.  Should fix by supporting in gateway or updating the JSON format to be uniform in the master/slave container implementation.

[2018-02-19 00:02] prasadtiru opened #42 "C Gateway - 5 tests failed"
Documenting here the issue regarding the regression tests using C Gateway. Following is the log:
[code]

[2018-02-23 03:59] mchitre commented on #42
The problem is that the `ArrayAdapterFactory` is set to `bare = false` and so generates additional JSON that the C API doesn't like.  Setting `new ArrayAdapterFactory(true)` in `JsonMessage` fixes the problem.  However, we should make this work for both settings.

[2018-02-23 04:11] mchitre commented on #42
Fixed. Should now handle both bare and non-bare versions of the JSON.

[2018-02-23 04:13] #42 closed

[2018-03-03 15:57] mchitre commented on #40
Marked to require Java 1.8

[2018-03-03 15:57] #40 closed

[2018-03-07 10:37] prasadtiru opened #43 "Json string for ParameterReq using fjage C API"
The json message corresponding to the following operation of `phy[1].fec = 0` is
[code]

Currently, there is no mechanism in fjage C API to add an array with string inside it. In the above example, `"requests"` key has an array with a string inside it.

Simply using `fjage_msg_add_int(msg, "fec", 0)` creates a wrong Json string for this and is given below:

[code]

[2018-03-07 19:04] mchitre commented on #43
Fixed in Unet repo.  Won't be introducing complex objects in fjåge C API.

[2018-03-07 19:04] #43 closed

[2018-07-22 01:30] notthetup opened #44 "fjage.py causes huge logs to be built up if no remote available"
If fjage.py had been connected to a remote and the remote gets disconnected (but fjage.py is still running like in an jupyter notebook) it generates gigantic logs (16GB) if not stopped.

[code]

https://github.com/org-arl/fjage/blob/master/src/main/python/fjagepy/org_arl_fjage_remote/__init__.py#L166

[2018-07-22 01:34] prasadtiru commented on #44
Disabled the logging in 312fc30b857bc81bdc239ae2b3b4eb3687d64921 since it was only needed for debugging purpose and not needed in the production version.

[2018-07-23 03:06] notthetup commented on #44
@prasadtiru This will remove the `DEBUG` level logs, but there are many at `CRITICAL` level as well.

I can see two issues.

1. We shouldn't try to `self._parse_dispatch(rmsg, q)` if `if not rmsg`. So I think we're missing a `continue` or `break` on after Line 170. This is causing the exception "Exception: Expecting value: line 1 column 1 (char 0)"

2. On Java side it seems we `break` out of the w

[2018-07-23 06:47] prasadtiru commented on #44
Fixed the cause for the exception in 16bf56a859b8ad521cc85e492c2b05e3c4a4256c . This issue of logs build up when no remote available is fixed.

Although, the Java behavior is such that the gateway connection automatically reconnects the closed connection when the unet starts running again. We need to do discuss on how we can do the same for python gateway.

[2018-10-15 08:36] prasadtiru opened #45 "Support to handle numpy arrays with complex numbers in fjagepy"
Since python supports complex data type, we should be able to directly pass the numpy array with complex numbers to the `TxBasebandSignalReq` message.

[2018-11-12 08:42] mchitre commented on #12
SwingShell to be deprecated

[2018-11-12 08:42] #12 closed

[2018-11-12 08:43] mchitre commented on #8
SwingShell to be deprecated

[2018-11-12 08:43] #8 closed

[2018-11-12 08:43] mchitre commented on #11
SwingShell to be deprecated

[2018-11-12 08:43] #11 closed

[2018-11-12 08:44] mchitre commented on #9
SwingShell to be deprecated

[2018-11-12 08:44] #9 closed

[2018-11-12 08:47] mchitre commented on #44
@prasadtiru fixed or needs to still be kept open?

[2018-11-12 08:49] mchitre opened #50 "Improve fjåge test cases"
- [x] Replace use of heuristic delays in fjåge test cases by deterministic logic
- [x] Add test cases for new functionality (e.g. fjågejs)
- [x] Automate testing (CI)

[2018-11-12 10:46] prasadtiru opened #51 "Follow the same behavior in fjagepy as java when remote connection drops"
The Java behavior is such that the gateway connection automatically reconnects the closed connection when the unet starts running again. We need to follow the same behavior in `fjagepy`.

[2018-11-12 10:48] prasadtiru commented on #44
Closing this issue and created another feature request #51 for following the same behavior as java when the remote connection is dropped.

[2018-11-12 10:48] #44 closed

[2018-11-14 07:09] notthetup commented on #50
I've been playing with integrating tests for fjågejs into gradle. It's on this branch for now. https://github.com/notthetup/fjage/tree/jasmine

https://github.com/jasmine/jasmine#installation is a nice little web test framework for running JS tests.

I'm trying to setup the gradle tests such that it only passes when it receives a fjage message from fjågejs thata the test has passed (https://github

[2018-11-16 16:41] mchitre commented on #50
Added test cases for `ShellAgent`

[2018-11-17 10:54] notthetup commented on #50
Moved over the Jasmine implementation to this repo https://github.com/org-arl/fjage/tree/jasmine. Also added support for automation using https://github.com/GoogleChrome/puppeteer/

Pending writing the actual JS tests.

[2018-11-26 07:49] prasadtiru commented on #45
Fixed in the commit 0a24290a91f786091317decdb253c0f1a9023b08 .

[2018-11-26 07:49] #45 closed

[2018-12-14 15:04] mchitre opened #54 "Add test cases for connectors framework and web sockets"

[2018-12-14 15:09] mchitre opened #55 "Large file sizes in get/put file shell requests fail due to limit on WebSocket message size"

[2018-12-14 15:09] mchitre commented on #55
@AnneThKu I've refactored the buffer size code a bit to only set necessary buffer sizes, and not hardcode the limits but set them at instantiation.

The latest changes are in the SNAPSHOT jar. Can you try them and see if large files give any problems? You'll need to change the instantiation of `WebSocketConnector` to use the constructor with the `maxMsgSize` parameter, and request the size at crea

[2018-12-21 11:46] prasadtiru commented on #51
Added this logic in the commit 5b1fdc06696f90782c619458b48def66eb652e90 . The python gateway now tries to reconnect every 5 seconds until the server is up.

[2018-12-21 11:47] #51 closed

[2018-12-23 19:01] mchitre commented on #55
Reported fixed

[2018-12-23 19:01] #55 closed

[2018-12-23 19:02] mchitre commented on #54
Javascript test framework now provides reasonable coverage for this.

[2018-12-23 19:02] #54 closed

[2018-12-23 19:02] #50 closed

[2018-12-23 19:03] mchitre commented on #35
Done

[2018-12-23 19:03] #35 closed

[2018-12-23 19:03] mchitre commented on #29
We have decided to discontinue quickstart for PowerShell

[2018-12-23 19:03] #29 closed

[2018-12-27 02:41] notthetup opened #58 "WebShell doesn't show a prompt on refresh"
The new WebShell based on fjage 1.5+ doesn't show a prompt on load. If unet is already running and a new web page is loaded with the shell, it doesn't show a prompt (>) until a user presses ^C or Enter.

However, encouraging a user to press ^C or Enter is dangerous since multiple users can be connected to the same instance of unet and will have a shared/synchronized web interface.

Ideally, when a

[2018-12-28 21:50] mchitre commented on #58
Fixed. @notthetup see if this is what you had in mind, and if so, close this.

[2018-12-29 11:09] #58 closed

[2018-12-31 00:25] prasadtiru opened #59 "Remote container over serial port not working in fjage 1.5"
The steps to reproduce:

1. Start the server

[code]
2. Start the remote container

[code]

I figured something broke after the commit 9be88db6c6c828afdbb312c31c37291d9fc95568 . It works before that commit.

[2018-12-31 03:10] mchitre commented on #59
@prasadtiru: fixed, please test and close the issue

[2018-12-31 03:11] prasadtiru commented on #59
Tested. Fix works.

[2018-12-31 03:11] #59 closed

[2019-01-01 16:19] mchitre commented on #17
No longer an issue with shell extensions in fjåge 1.5

[2019-01-01 16:19] #17 closed

[2019-01-02 04:50] mchitre commented on #6
Implemented

[2019-01-02 04:50] #6 closed

[2019-01-03 14:59] mchitre opened #60 "Shell eats up "\""
The shell eats up "\" characters, so we have to type "\\" to get a "\". The reason for this is that `jline:3.9.0` is broken. This bug was reported (https://github.com/jline/jline3/issues/296) and fixed in
https://github.com/jline/jline3/commit/5a58d01c960c0800f37a85fb4baf666ab693bfdb, but this is not in a stable release yet.

We will fix when jline releases new version.

[2019-01-04 01:49] notthetup commented on #60
Checking with jline when the next release is planned. https://github.com/jline/jline3/issues/343a

[2019-01-14 03:14] notthetup opened #63 "Seeing malformed JSON issues"
Seeing a bunch of

[code]

[2019-01-14 08:57] notthetup commented on #63
More

[code]

[2019-01-15 13:52] mchitre commented on #63
They are both the same issue.

Beautiful!

See an abbreviated version of the first:
[code]
I extract a few characters from the first sentence into the second and third lines:
[code]
You can see they belong to the next 2 sentences:
[code]
Now all sentences are complete!

So all that is happening is that 3 messages are getting mixed up ... next to figure out why!

[2019-01-15 14:51] mchitre commented on #63
Problem was multiple websockets writing on one input stream without synchronization. Fixed.

[2019-01-15 14:51] #63 closed

[2019-01-27 07:13] mchitre opened #64 "hterm does not always show on screen keyboard on touchscreen devices"

[2019-01-27 07:14] notthetup commented on #64
https://bugs.chromium.org/p/chromium/issues/detail?id=402972

[2019-01-27 07:15] mchitre opened #65 "shell does not like browser resize"
After resizing browser, shell window line wrap does not work properly for long input lines

[2019-02-04 04:59] shortstheory opened #66 "Using @TypeChecked breaks UnetAgents with TickerBehavior in Unet3"
On annotating Groovy UnetAgents with @TypeChecked, Agents with TickerBehaviors die due to StackOverflowErrors. I do not know if this affects other types of fjage Behaviors as well. This appears to affect both Unet3 and Unet1.4 as well.

I have attached my Agent's class files and it's corresponding log file to reproduce this bug.

[log-0.txt](https://github.com/org-arl/fjage/files/2826578/log-0.txt

[2019-02-05 06:48] notthetup commented on #66
Pasting log here for quick reference.

[code]

[2019-02-05 06:49] notthetup commented on #66
Pasting source for quick reference.

[code]
[code]

[2019-02-05 06:54] notthetup commented on #66
It seems to be recursively calling `.onTick()` on itself because of the `super.onTick()` call. Not sure why that happens with the annotations.

[2019-02-05 07:52] shortstheory commented on #66
No I don't think `super.onTick()` is needed. It was just autofilled. by IntellIJ and I didn't bother to remove it. Still, it's strange that this error only occurs with @TypeChecked enabled. I just tested to see that removing `super.onTick()` fixes the issue, even with @TypeChecked enabled

[2019-02-05 11:09] notthetup commented on #66
Oh actually it's pretty simple to explain.

`super.onTick` calls https://github.com/org-arl/fjage/blob/master/src/main/java/org/arl/fjage/TickerBehavior.java#L64

which calls `super.action()` which ends up calling https://github.com/org-arl/fjage/blob/master/src/main/java/org/arl/fjage/Behavior.java#L82

And since it's TickerBehaviour has implemented `action`, it is not null so it gets called here

[2019-02-06 04:36] shortstheory commented on #66
Thanks @notthetup! But why does this only happen with the @TypeChecked annotation? Won't the recursive loop happen independently of annotating with @TypeChecked?

[2019-02-06 13:56] notthetup commented on #66
That's a good question. I will need to dig up on how these Groovy annotations work to figure out why. Maybe @mchitre has an idea.

But I'm also thinking from another angle. Why does the `TickerBehavior` need to call `super.action` every time `onTick` is called? Usually, methods which are to be overridden by classes that extend a class should only do any necessary house-keeping. `super.action();` d

[2019-02-06 14:36] notthetup commented on #66
OK. It seems it's something to do with Groovy especially [the call operator](https://mrhaki.blogspot.com/2017/02/groovy-goodness-using-call-operator.html). I'm suspecting `@TypeChecked` is causing something to be dispatched to the wrong method.

`Behaviour` has a method called `action` AND a property of type `Callback` called `action`. `Callback` exposes a `.call` method. which is what is called h

[2019-02-06 15:53] shortstheory opened #67 "Period of TickerBehavior cannot be modified after constructing the object"
I have a UnetAgent with a TickerBehavior which runs at a certain interval. I want this interval to be configurable by the user by using a parameter of the UnetAgent which can be changed at runtime.

The problem is, `period` is a private member of TickerBehavior. Looking at the fjage source for TickerBehavior, I can see that the period can only be set once in the constructor. Would it be possible t

[2019-02-06 16:42] mchitre commented on #66
Here's how it all works:

Normally a `Behavior` subcalss overrides the `action()` method to provide an implementation, and the `action` callback is then `null`. The default `action()` method calls the `action` callback if it is not null. This allows a subclassed behavior to provide an `action` dynamically, without having to override the `action()` method. This feature is used in `GroovyExtensions`

[2019-02-06 16:42] #66 closed

[2019-02-06 16:48] mchitre commented on #67
Changing `period` which the ticker is ticking is somewhat tricky. Not because it's hard to do, but because the intended behavior is unclear. Should the ticker change the current tick and hence the `wakeupTime`? Or should it change from the next tick?

A cleaner solution is to simply `stop()` the old `TickerBehavior`, and create a new `TickerBehavior` with the correct `period`. Is there a reason yo

[2019-02-07 09:14] shortstheory commented on #67
Oh I see. Accordingly, I have made the change to create a new TickerBehavior each time the parameter is set while stopping the old Behavior.

[2019-02-07 09:14] #67 closed

[2019-02-07 10:02] shortstheory opened #68 "Provide user feedback when shell command cannot be parsed and is therefore treated as multiline command"
When running my simulations with `platform = RealTimePlatform`, I test my Agents by directly sending them messages from the shell. However, I have observed that it does not work correctly for certain commands when using Unet3.

For example, this is my UnetAgent:

[code]

and my simulation script is:

[code]

When I try sending a `DatagramReq` on `link`, the shell just echoes the command without di

[2019-02-07 10:10] shortstheory commented on #66
I have a doubt, in the case I have posted above, isn't the anonymous class overriding `onTick()` a subclass of TickerBehavior?

[2019-02-09 03:34] mchitre commented on #68
I suspect this has got something to do with identifying the terminal that IntelliJ uses. Can you try running the simulation on the command line please, instead of in IntelliJ and see if everything works as expected?

[2019-02-09 03:44] mchitre commented on #66
You're right, the example code should be interpreted by Groovy as a subclass due to the `@Override` annotation. In any case, with the `@CompileStatic` annotation, dynamic constructor with closure as second parameter should not be visible from this code. The curiosity still persists.

But the fact remains that `super.onTick()` should not be called.

[2019-02-12 05:56] shortstheory commented on #68
It appears to work correctly using `bin/unet`, but I still get the same bug when using `telnet`. Perhaps the issue is with the EOL character when I copy/paste the command? I can demonstrate the issue when we meet today.

[2019-02-12 13:24] mchitre commented on #68
Tested today. The problem is simply that the shell does not execute commands if they cannot be correctly parsed. However there is no user feedback for this, and so can be confusing to the user. Changing title of the issue to reflect this.

[2019-02-14 06:01] notthetup opened #69 "Refreshing a webpage using fjage.js multiple times causes Gateway to not work"
Refreshing a webpage using fjage.js multiple times causes Gateway to give timeout errors. Looking at logs on the server side shows this.

[code]

Seems like a synchronization issue with WSHandler's `onClose` and `write` methods.

[2019-02-14 06:32] mchitre commented on #69
Not a sync issue, but simply that `write()` gives a `WebSocketException` instead of the `IOException` that the code was expecting. Fixed. @notthetup Can you please test?

[2019-02-14 07:24] notthetup commented on #69
Testing with this in console instead of refreshing.. :)

```id = window.setInterval(() => {window.fjage.gateways[0].close(); console.log('new'); gw = new Gateway();}, 100)```

Looks good now.

Seeing a bunch of

[code]

but no crashes.

[2019-02-14 09:59] #69 closed

[2019-02-22 04:01] shortstheory commented on #68
On a related note, I cannot run `addroute 3,2` in my IntelliJ shell. I get the message
[code]
Which library do I need to import in my shell for such commands?

[2019-02-24 04:40] mchitre commented on #68
Shell commands are added through shell extensions. For the routing agent in UnetStack, this is done via an entry `load('cls://org.arl.unet.net.RouterShellExt')` in the `fshrc.groovy`. This should already be in the `etc/` folder, so you just need to ensure that you add `etc/fshrc.groovy` as a initrc when loading the shell agent.

BTW, @shortstheory this is a UnetStack issue, not a fjåge issue, so i

[2019-05-09 10:53] verma-ajey opened #70 "Can't open Fjage shell by ./fjage.sh"
When I run fjage.sh script, it won't direct me to '>' prompt, rather following error was logged in in log files every time I try to execute it.

1557382840953|INFO|org.arl.fjage.shell.GroovyBoot@1:main|fjage Build: fjage-1.5.1/25-01-2019_16:23:51
1557382841380|INFO|org.arl.fjage.shell.GroovyBoot@1:main|Running etc/initrc.groovy
1557382841453|WARNING|org.arl.fjage.shell.GroovyScriptEngine@1:error|G

[2019-05-12 15:54] mchitre commented on #70
Are you trying to build from the source repo or using the binary release on Maven? If you're building from the source repo, did you build using `gradle` and let gradle download the dependencies?

[2019-06-10 08:04] notthetup opened #74 "Enable option in WebServer to bind to localhost only"
Enable a new option in the `WebSever` constructor to only bind to `localhost`.

This constructor variant of Jetty Server can be used 👍

`new Server(InetSocketAddress.createUnresolved("127.0.0.1", port))`

[2019-06-10 11:39] mchitre commented on #74
Implemented in 9e13fa9e095d55d75d68fd28430c88447b393e03

[2019-06-10 11:40] mchitre commented on #74
@notthetup can you test this with UnetSim and close both issues if working?

[2019-06-11 03:53] notthetup commented on #74
Tested.

[2019-06-11 03:53] #74 closed

[2019-07-18 09:36] prasadtiru opened #77 "Fix the python documentation with recipient being a string"
The python documentation mentions that the recipient in a message can be a string. Need to be fixed.

[2019-07-23 07:14] notthetup commented on #60
JLine 3.10.0 has been released on 2019-02-12

[2019-07-24 13:53] #60 closed

[2019-07-24 13:54] mchitre commented on #70
Closing this due to lack of information and ability to reproduce.

[2019-07-24 13:54] #70 closed

[2019-08-07 09:23] mchitre commented on #13
The current fjåge model allows this through Gateways. Don't see a reason to change that for now, so we'll reopen this if the need arises.

[2019-08-07 09:23] #13 closed

[2019-08-07 10:20] mchitre commented on #28
Better?

<img width="399" alt="image" src="https://user-images.githubusercontent.com/3949878/62615529-0554cd80-b940-11e9-9110-70107cfb572f.png">

[2019-08-07 10:28] #28 closed

[2019-08-07 11:02] mchitre commented on #68
Improved handling of multiline commands to print out errors for unknown classes and other errors

[2019-08-07 11:02] #68 closed

[2019-08-14 03:30] notthetup opened #78 "fjage Gateway API alignment"
The various implementations of the fjage Gateway APIs need to be aligned.

https://github.com/org-arl/fjage/tree/dev/src/gateway was created as a spec for the API. The following are the non compliances.

[code]

[2019-08-14 06:04] mchitre commented on #78
Julia, Java and Groovy compliant now. @prasadtiru to focus on Python. @notthetup to focus on JS, C.

Also we agreed to reorganize the source tree to host all (perhaps except Java/Groovy, as that is part of the main code base) gateways under the `src/gateway` tree. Either @mchitre can do it, or @notthetup can do it, but maybe once everything else under this issue is resolved.

[2019-08-14 08:55] mchitre commented on #78
We missed one important one during the review...

**Auto-reconnect behavior**
- Fail if connection fails on Gateway() constructor
- If initial connection is successful, but connection dies later, try auto-reconnect
- If special requirement forces you to do otherwise, that is fine, but document it

Compliance check (check off if you have verified compliance)
- [x] Java / Groovy
- [ ] Python
- [ ] J

[2019-08-14 09:50] notthetup commented on #78
[code]

This works?

[2019-08-15 01:56] mchitre commented on #78
Indeed does

[2019-08-15 02:04] mchitre opened #81 "Javascript gateway does not use wantsMessageFor mechanism"
We have disabled the `wantsMessageFor` mechanism to watch for selected messages from gateway for the Javascript Gateway. The reason is that all Gateways from one browser share a web socket, and hence overwrite each other's watch list. The disabling fixes the problem, as all gateways now get all messages, but is inefficient if large messages are streamed on topics that a browser does not subscribe

[2019-08-15 02:06] notthetup commented on #81
e19cb8f

[2019-08-22 06:21] mchitre opened #83 "Add support for large file upload/download"
`GetFileReq` and `PutFileReq` have file size limitation because of use of buffers in web sockets.

[2019-08-27 16:10] prasadtiru commented on #77
When the recipient was set to the AgentID, the JSON serialization was failing. Added the fix for this using a custom JSON encoder. Fixed in the commit 2c067d041a87ed1366ef29fd297f571766779183 and updated the documentation.

[2019-08-27 16:10] #77 closed

[2019-08-28 11:51] prasadtiru opened #86 "Tag classes that can be closed as Closable"
Closable classes can automatically be closed in groovy with the `with` construct.

[2019-08-28 16:37] mchitre commented on #86
Done

[2019-08-28 16:37] #86 closed

[2019-09-09 06:40] notthetup opened #88 "WebShell doesn't work on Firefox"
The Web Shell is broken in firefox.

The root cause seems to be an issue in hterm.js library.

https://bugs.chromium.org/p/chromium/issues/detail?id=980671&q=component%3APlatform%3EApps%3EDefault%3EHterm%20installKeyboard&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

and

https://bugzilla.mozilla.org/show_bug.cgi?id=1503241#c41

A quick fix is

[2019-09-10 00:23] notthetup commented on #88
Fixed with 3184c66 temporarily

[2019-09-10 00:23] #88 closed

[2019-09-13 04:34] notthetup opened #89 "Add support for themeing Shell"

[2019-09-13 12:55] mchitre opened #90 "Connectors sometimes shows local IP instead in name"
On Linux, sometimes connectors show local IP address (127.0.x.x) instead of the network IP address. This can be fixed easily by iterating over network interfaces:
[code]
No functionality affected, just the display name is not so descriptive. Should fix someday.

[2019-09-19 09:56] notthetup opened #91 "Add support for search on help documentation."
Proposed syntax:

`help <syntax>`

If `<syntax>` doesn't match any of the knowns help documentation topics, then it should list a bunch of possible topics.

[2019-09-23 03:57] prasadtiru opened #92 "re-subscriptions and un-subscriptions need not be critical warnings"
Should re-subscriptions or un-subscriptions from topics not subscribed to be considered critical warnings??

[code]
Also we might want to update the micro-copy to call all `logger.warnings` as "Warning: " and all `logger.critical` as `Exception`. Or something consistent.

[2019-09-23 04:23] mchitre commented on #92
Absolutely not! They don't cause anything critical!!! They should be silently ignored, or at best, logged at debug level.

[2019-09-23 04:32] prasadtiru commented on #92
Cleaned up log messages for improved readability. For re-subscription, logging as debug, whereas for subscribing to an agent that does not exist, I am still providing a critical warning. Let me know otherwise. Fixed in 878024438e3e7392a050520f27338885d87cb721

[2019-09-23 04:33] #92 closed

[2019-09-23 05:56] notthetup commented on #92
8780244

[2019-09-23 05:58] notthetup commented on #92
What about the situation where we're trying to `unsubscribe` to a topic which isn't subscribed to. It'll currently do a `self.logger.critical("Exception: No such topic subscribed: " + new_topic.name)`

[2019-09-23 06:21] prasadtiru commented on #92
Phrased it wrongly in the earlier comment. I meant we provide critical warning in such case where we are trying to unsubscribe a topic which isn't subscribed to.

Just checked the behavior in java, and it silently ignores in such cases. I can do the same if it is fine.

[2019-09-23 12:04] mchitre commented on #92
Yes, please. Silently ignore.

[2019-09-28 15:35] mchitre opened #93 "Groovy MessageBehavior constructor without filter is broken"
`GroovyExtensions` adds closure based constructors to `MessageBehavior`. Unfortunately Groovy internally maps the `MessageFilter` constructor to take in a closure. This means that if you pass in a closure, it gets interpreted as a `MessageFilter` instead of an action.

[2019-09-28 15:47] mchitre commented on #93
Simple (but ugly) workaround:
[code]

[2019-09-28 18:02] #93 closed

[2019-10-01 04:59] mchitre commented on #91
Already done in fjåge 1.6.1 (https://github.com/org-arl/fjage/commit/4a16b8b3f897d85c729df51f4d1de30576452430). Will automatically come to UnetStack when we bump up fjåge.

[2019-10-01 05:00] #91 closed

[2019-10-03 05:20] notthetup opened #94 "WebShell does strange things with the first line"
The first line after a reboot (before pressing `Return`), in the WebShell tends to behave strangely.

- It doesn't like backspaces.
- If copying large strings, the formating goes haywire.

[2019-10-05 16:09] mchitre commented on #94
Was a hard one to track down. Turns out that the default terminal state sends ANSI sequences for keystrokes of the kind `ESC[D`, whereas readline wants them as `ESC OD` (application mode). We now fix this by having `TcpHubConnector` put in the right escape sequences as part of the terminal negotiation to setup `telnet` correctly, and `shell/index.html` sending this escape sequence to `hterm` to se

[2019-10-06 09:51] notthetup commented on #94
OMG!! 😱

[2019-10-10 09:07] manuignatius commented on #94
Pressing up or down arrows in terminal gives strange characters.
![Screenshot 2019-10-10 at 5 07 18 PM](https://user-images.githubusercontent.com/4144181/66554980-7bfc8a00-eb80-11e9-9c2f-1a7dc3a214b7.png)

[2019-10-11 03:18] mchitre commented on #94
@manuignatius I can't reproduce your problem. Test setup:
[code]

I suspect you have the wrong version of the `index.html` in your browser cache. Try this:
1. Make sure you're using the latest `fjage-1.6.2-SNAPSHOT.jar`. For this best to do a `gradle --refresh-dependencies`.
2. Clear browser cache and restart browser.
3. Then connect to the terminal and see if problem persists.

If it does, check:

[2019-10-12 02:46] notthetup opened #95 "Add supported for paginated directory queries for GetFileReq"
Currently `GetFileReq` supports requesting a subsection of the file using the `ofs` and `len` parameters.

`GetFileReq` can also be used to acquire the list of files in a directory. However, when the number of file directory is too large, `GetFileRsp`s are often large and slow.

To deal with this I propose, we can support honoring the `ofs`, `len` fields in `GetFileReq` on a directory also. This w

[2019-10-15 14:42] mchitre commented on #94
This is still a problem. On OS X, this fix works. But on modem (Linux?), this doesn't. Removing the `io.print`works on modem!

[2019-10-15 16:16] mchitre commented on #94
Fixed by forcing terminal to be `xterm-noapp` and removing hack to set application mode cursor keys. So, now only paste bracketing is hacked in.

[2019-10-15 16:16] mchitre commented on #94
@manuignatius / @notthetup need help testing on modem.

[2019-10-17 00:25] manuignatius commented on #94
Tested and the issue is not there anymore.

[2019-10-17 00:25] #94 closed

[2019-11-06 06:41] notthetup opened #98 "Size limit for PutFileReq from WebSockets"
I built a little test to send a series of `PutFileReq` increasing in size from javascript using `fjage.js`.

It seems, there is a limit to how large a file (or an array) that the WebSocket request underneath `PutFileReq` can successfully send across. Any larger and it just seems to take forever to send. For smaller file sizes there is a trend that is followed, but after a limit, the time taken is

[2019-11-06 06:45] notthetup commented on #95
With some reworking of how this was being used, it seems this is not very very critical at the moment.

[2019-11-06 06:46] notthetup commented on #98
Related to https://github.com/org-arl/fjage/issues/83.

[2019-11-06 11:57] mchitre commented on #98
Okay, let's go with being able to write in chunks. We can add an offset, or we can add an append option.

[2019-11-06 11:58] mchitre commented on #83
See #98 for discussion on how to resolve.

[2019-11-06 11:58] mchitre commented on #98
Tracked in #83, so closing this as duplicate.

[2019-11-06 11:58] #98 closed

[2019-11-14 10:58] mchitre opened #101 "Add ShellCommandFailed exception to indicate failure of shell commands"
Proposed class name: `org.arl.fjage.shell.ShellCommandFailed`
This should be printed in red in the shell, but not logged as exception.

@notthetup thoughts?

[2019-11-22 02:00] notthetup opened #104 "Add support for HTTP Basic Auth on WebServer"
Add support to configure the WebServer to require HTTP Basic Auth for connections.

https://www.eclipse.org/jetty/documentation/current/configuring-security.html

[2019-11-29 08:10] notthetup opened #105 "Java 11 Support"
Trying to compile on Java11

[code]

[2019-11-29 12:39] notthetup commented on #105
Also some issues with reflections.

[code]

[2019-12-01 11:23] mchitre commented on #101
Will be part of 1.7

[2019-12-01 11:23] #101 closed

[2019-12-05 07:37] ngyewch opened #107 "Rare occurrences of NullPointerException in DiscreteEventSimulator"
Issue encountered in version: 1.6.2

Reproducibility: low

## Sample error
[code]

[2019-12-05 11:37] mchitre opened #108 "Add support for shell to advertise its engine"

[2019-12-10 02:58] mchitre commented on #83
@notthetup can we close this with the PR we merged? Or anything else remains?

[2019-12-10 04:53] notthetup commented on #83
Yes. All done.

[2019-12-10 04:53] #83 closed

[2020-01-05 04:31] notthetup opened #109 "Serialising Infinity in JSON"
Fjage seems to serialize `Double.NEGATIVE_INFINITY` as `-Infinity`, which isn't a valid JSON value. This causes `fjage.js` to throw errors and not parse any message if some value is set to `Infinity`.

Relevant issue in gson : https://github.com/google/gson/issues/81

[code]

[2020-01-10 08:17] notthetup commented on #109
| Language   | Library | Infinity | NaN      |
| ---------- | ------- | -------- | -------- |
| Java       | GSON    | Optional | Optional |
| Python     | json    | Yes      | Yes      |
| Julia      | JSON.jl | No       | No       |
| C          | JSMN    | ?        | ?        |
| Javascript | JSON    | No       | No       |

[2020-01-15 11:57] AnneThKu opened #110 "Bad Json error for GenericMessage with inReplyTo as null"
When a GenericMessage is sent with performative as REQUEST, a Bad JSON error is shown in the logs as below.
[code]

[2020-01-16 00:21] notthetup commented on #110
It’s unhappy with the `null` in the JSON for `inReplyTo` field .

I believe we can fix this in the Gateway code to remove any fields that have a value of `null`. That will help to compress the JSON size too.

[2020-01-17 19:50] mchitre opened #111 "Gson does not seem to deserialize classes from dynamic Groovy class folder"
`classes` folder (dynamic Groovy folder in `unet`) is accessible from the shell, but `Gson` seems to have trouble deserializing classes from this folder.

[2020-01-19 14:12] mchitre opened #112 "Concurrent modification exception in websock connector"
[code]
Observed in release `1.6.3`

[2020-01-19 14:14] mchitre commented on #112
Strange because the `wsHandlers` list is protected by a `Collections.synchronizedList()`, and the iterator is protected by `synchronized(wsHandlers) { ... }`.

[2020-01-21 16:00] mchitre opened #113 "NPE in Gateway while killing an agent"
[code]

[2020-01-29 10:32] AnneThKu opened #114 "Javascript API documentation page shows not found"
In the fjage documentation for javascript gateway (https://fjage.readthedocs.io/en/latest/jsgw.html), there is a link to http://org-arl.github.io/fjage/jsdoc/.
But this link http://org-arl.github.io/fjage/jsdoc/  when opened shows`404- Not Found`.

[2020-01-30 06:44] AnneThKu opened #115 "InvocationTargetException when webif is opened"
If I use the `fjage-1.7-SNAPSHOT.jar` and run `bin/unet audio`, below exception is shown in the logs. But everything seems to work fine.
[code]
The exception is also shown if i just run a simulation script in the Unetsim.

[2020-01-30 08:04] mchitre commented on #115
This isn't a fjåge bug, but rather a unet incompatibility with the new version of fjåge. If at all, this should be a unet issue (although perhaps not for reasons below), so closing it here.

fjåge has known breaking changes that unet code needs to be modified for. I have a `f17-priv` branch in unet which makes those changes, but the branch is not stable and shouldn't be used for development just y

[2020-01-30 08:04] #115 closed

[2020-02-05 03:23] ngyewch opened #117 "Add sent timestamp in Message"
Add a field in Message indicating when it was sent. Preferably set during `Agent.send()`. This is useful for cases where messages can take a long time to arrive at its destination.

Suggested:
[code]

[2020-02-05 06:04] mchitre commented on #117
Poll!

Message creation timestamp or sent-at timestamp more valuable? I want to avoid both to keep the serialized versions compact, unless there is a strong use case.

[2020-02-05 08:33] notthetup commented on #117
Can the `sent-at timestamp` be annotated to be not serialized? I'm guessing the use-case will be mostly for bookkeeping on the sender's side.

[2020-02-06 01:59] ngyewch commented on #117
@notthetup This came up mostly because of DTN and dynamic routing. In these situations, it's possible that messages arrive much later, or out of order.

One use case: sensor data, it would be very good to know when the data was collected.

[2020-02-06 02:04] notthetup commented on #117
OK. So we want to know this timestamp on relay or at the receiver. So we’ll need to serialise it.

[2020-02-07 09:19] notthetup commented on #112
Seen again when the `fjage.js` receive timeout error occurs.

[code]

[2020-02-07 09:26] notthetup commented on #112
Do we need to move from the `for` loop to `while(iterator.hasNext())`?

https://docs.oracle.com/javase/8/docs/api/java/util/Collections.html#synchronizedList-java.util.List-

[2020-02-07 09:27] notthetup commented on #112
Nah. It seems it'll be the same.

https://stackoverflow.com/questions/7335958/java-synchronized-list-for-loop

[2020-02-07 12:00] mchitre commented on #112
For the record: This seems to be the cause for `fjage.js` failing after network disconnection at times, while the shell websocket seems to be fine.

[2020-02-07 12:42] mchitre commented on #112
I think I understand why this happens! Crazy!!

We have:
[code]
The list access is always synchronized, and this loop doesn't modify the list (supposedly), so we should expect everything to be fine! But, the `t.write()` calls Jetty's `session.getRemote().sendString(s)`, and that probably calls `onClose()` from the same thread, if the socket is dead. And in `onClose()`, we have: `wsHandlers.remove(

[2020-02-07 12:49] mchitre commented on #112
Fixed in `dev` for 1.7 by using `CopyOnWriteArrayList` that allows concurrent modifications.

@notthetup do you want to pick it up in `1.6.5`? Also @prasadtiru @AnneThKu @notthetup ,would be nice to see if we can try to reproduce the problem with this fix to see if we have really solved it.

[2020-02-07 12:50] mchitre commented on #112
Closing it. Reopen if problem persists.

[2020-02-07 12:50] #112 closed

[2020-02-07 13:24] mchitre commented on #110
Fixed by ensuring that the `MessageAdapterFactory` explicitly checks for nulls, and leaves those fields unset while deserializing.

[2020-02-07 13:24] #110 closed

[2020-02-07 14:37] mchitre commented on #114
@notthetup We should someday consider having a Javascript API docs. Non critical for now, and I've removed the link. So the "bug" is gone :-)

[2020-02-07 14:37] #114 closed

[2020-02-07 14:54] mchitre commented on #113
`master` was nulled during closing of agent, while watch list was still being updated. Synchronization added to avoid the NPE, although the NPE was quite harmless.

[2020-02-07 14:54] #113 closed

[2020-02-07 15:02] mchitre commented on #111
Tested in fjåge with dynamic Groovy message in current folder, and in unet with `classes` folder. Both worked fine. Reopen if we see the problem again, with more details.

[2020-02-07 15:02] #111 closed

[2020-02-07 15:08] mchitre commented on #107
@ngyewch do you have details of the simulation you were running when you encountered this?

[2020-02-07 15:32] mchitre commented on #117
Implemented as `sentAt` timestamp.

[2020-02-07 15:32] #117 closed

[2020-02-07 18:05] mchitre commented on #108
Added support for `language` parameter, automatically extracted from the script engine class name.

[2020-02-07 18:05] #108 closed

[2020-02-10 02:09] ngyewch commented on #107
The test involves having an existing simulator shut down, and starting another simulator afterwards to approximate a restart scenario I have only encountered that issue in a test case with that behavior.

Reviewing the code again, this is likely caused by the simulator shutdown. Most likely culprit is `events.clear()` in `DiscreteEventSimulator.shutdown()`.

[2020-02-16 03:10] notthetup opened #120 "Window support for fjåge C Gateway"
Migrating from Unet issue.

notthetup commented on 14 Oct 2019
https://github.com/DFHack/clsocket

notthetup commented on 14 Oct 2019
https://stackoverflow.com/a/28031039/577563

notthetup commented on 10 Jan •
Winsock doesn't support poll , they have a WSAPoll which is totally broken (https://daniel.haxx.se/blog/2012/10/10/wsapoll-is-broken/) and they have select . I guess we can move to select.

[2020-02-16 03:11] notthetup commented on #120
notthetup commented on 10 Jan •
Agreed that first we'll move to Sockets and select, then make it work on Windows

- [ ] ~Move to TCP Sockets instead of named pipes for self-interrupts - @mchitre ~
- [x] Move to select instead of poll - @mchitre
- [ ] Make it work on windows - @notthetup

[2020-02-16 03:11] notthetup commented on #120
mchitre commented 13 days ago •
Implemented options to use poll(), select() or ioctl() for this. Option controlled via a #define in the fjage.c file: USE_POLL, USE_SELECT or USE_IOCTL. Pick your poison depending on what is easiest to work with in Windows (I suspect USE_SELECT).

Over to you @notthetup! 😬

[2020-02-21 07:21] mchitre opened #121 "fjage.js should support message class inheritance"
Would be nice to be able to define parent like in Python:
[code]

[2020-02-22 13:38] notthetup commented on #121
https://github.com/org-arl/fjage/tree/fjagejs-inheritance

![Screenshot 2020-02-22 at 9 38 01 PM](https://user-images.githubusercontent.com/553140/75093334-a3964100-55bb-11ea-84dc-756aa43dc5d0.png)

[2020-02-22 15:07] mchitre commented on #121
Looks good!

[2020-03-01 14:06] notthetup commented on #121
Fixed in https://github.com/org-arl/fjage/pull/122

[2020-03-01 14:06] #121 closed

[2020-03-09 04:51] notthetup opened #123 "fjagepy : UnboundLocalError"
I found this error in the logs for one of the tests I was running where the master that `fjåge.py` was trying to connect to tended to drop off the network sporadically. When that happened, and I tried to connect to the master again, `fjåge.py` seems to go into this error.

[code]

[2020-03-09 04:56] notthetup opened #124 "Pypi hompage link is broken"
https://pypi.org/project/fjagepy/ links to https://github.com/org-arl/fjage/tree/dev/src/main/python which isn't a valid URL anymore.

[2020-03-12 04:03] notthetup opened #125 "Update Github CI to run Python and Java/Groovy tests on Windows"
Currently the CI only runs the Python and Java/Groovy tests on Ubuntu. These tests can and should be run on Windows too.

[2020-03-16 05:17] AnneThKu opened #127 "Shell agent does not have a description"

[2020-03-19 08:37] prasadtiru commented on #124
Fixed in a268000160b3417d8ff955c29ea43dd5a85383c3

[2020-03-19 08:37] #124 closed

[2020-03-20 04:42] mchitre commented on #120
Implemented and tested in 85ebef1abec7cb644b9bc958fe27c8a510da259d. Merged to `dev`.

[2020-03-20 04:43] #120 closed

[2020-03-20 12:46] manuignatius opened #128 "test_fjage.c link broken"
The link to test_fjage.c (https://github.com/org-arl/fjage/blob/master/src/main/c/test_fjage.c) is broken in https://fjage.readthedocs.io/en/latest/cgw.html

[2020-03-20 12:47] manuignatius opened #129 "`Detailed API description` link broken"
`Detailed API description` (http://org-arl.github.com/fjage/jsdoc/) from https://fjage.readthedocs.io/en/latest/jsgw.html is broken

[2020-03-23 10:59] manuignatius opened #130 "Add support for parameter get/set for all fjage gateways"
- [x] C
- [x] Python
- [x] JS
- [x] Julia
- [x] Java/Groovy

[2020-03-24 03:31] notthetup commented on #130
I'd think we now need this for ALL the Gateways after fjage1.7.

[2020-03-24 04:04] mchitre commented on #130
Agree

[2020-03-26 04:02] #128 closed

[2020-03-27 11:14] mchitre commented on #130
@prasadtiru - Python
@notthetup - JS
@mchitre - C, Java, Groovy, Julia

[2020-03-28 09:14] notthetup opened #132 "Update tests for parameters in fjåge 1.7"
The current tests for fjåge 1.7 have a couple of issues.

- [x] Parameter tests tend to fail in Github Actions CI.
- [x] Parameter tests don't include tests for indexed parameters.

[2020-03-28 09:15] notthetup commented on #132
Example of failure of tests : https://github.com/org-arl/fjage/runs/539259011?check_suite_focus=true

[2020-03-28 09:17] notthetup commented on #130
We'll also have to update the Gateway spec for this.

https://github.com/org-arl/fjage/blob/master/gateways/Gateways.md

[2020-03-28 12:18] notthetup commented on #130
[code]

Suggestions?

[2020-03-28 12:20] mchitre commented on #130
Set requires value to be passed in

[2020-03-28 18:05] prasadtiru commented on #130
Added the parameter get/set method in `fjagepy` in commit 4fe9205fbbb4a30c4891bd568cd212e084413486. An example usage is as given below:

[code]

Also supports pretty printing such as:
[code]

[2020-03-29 01:27] notthetup commented on #130
Ah yes.

[code]

OK. Should it be

1. `set() :: String name, (int index), Object value,  -> Object`
OR
2. `set() :: String name, Object value, (int index)  -> Object`

1 is really hard to implement in many languages since most prefer optional arguments at the end. But the Java methods seem to be `set(index, value)`.

[2020-03-29 03:17] mchitre commented on #130
2 is fine

[2020-03-29 04:25] mchitre commented on #127
Fixed

[2020-03-29 04:25] #127 closed

[2020-03-29 04:27] mchitre commented on #130
I'm thinking the `get` and `set` will be methods of `AgentID`. Makes sense?

[2020-03-29 04:39] notthetup commented on #130
Yes. Sorry. I was in a rush and missed that part. These would be on `AgentID`. Optionally implemented as properties if the language permits.

[2020-03-29 04:45] mchitre commented on #130
Updated gateway spec and implemented in Java/Groovy.

[2020-03-29 06:43] mchitre commented on #132
Should be fixed.

[2020-03-29 06:43] #132 closed

[2020-03-29 09:23] mchitre commented on #130
C implemented and partially tested :-)

[2020-03-29 09:41] notthetup commented on #130
JS Support PR-ed : https://github.com/org-arl/fjage/pull/133

[2020-03-29 10:10] mchitre commented on #130
@notthetup You'll merge, or you want me to? Assignee is you.

[2020-03-29 10:23] notthetup commented on #130
Waiting for review from @AnneThKu

[2020-03-30 04:56] notthetup commented on #130
JS Support Merged.

[2020-03-30 09:33] prasadtiru commented on #130
Added parameter support in Python and test code in 4bd2bd2ae2dc7e491e9358466329635d6c64950a

[2020-03-30 10:25] mchitre commented on #130
Julia will be handled separately from 1.8 release, so dropping from the milestone

[2020-03-31 13:30] mchitre opened #134 "Add documentation for parameters"

[2020-03-31 15:58] #134 closed

[2020-04-04 05:13] notthetup commented on #129
While we added JSAPI Documentation (https://org-arl.github.io/fjage/jsdoc/), we removed the link in https://github.com/org-arl/fjage/blob/master/src/sphinx/jsgw.rst

[2020-04-17 06:47] notthetup commented on #109
Agreed to stick with JSON spec and not support `Infinity` and `NaN` for now.

[2020-04-17 06:51] prasadtiru commented on #123
Please review the fix added here https://github.com/org-arl/fjage/commit/4fe9205fbbb4a30c4891bd568cd212e084413486#diff-c627bda60a59f4668d6a18806fa988e2R699

[2020-04-17 06:53] notthetup commented on #78
Agreed to keep C and Julia Gateway implementation non-complaint.

[2020-04-17 06:53] #78 closed

[2020-04-17 06:55] #41 closed

[2020-04-17 06:55] notthetup commented on #41
`GenericMessage` are not used much.

[2020-04-17 06:57] #26 closed

[2020-04-17 07:00] notthetup opened #135 "Test and robustify yield-on-receive"

[2020-04-17 09:16] notthetup commented on #123
https://github.com/org-arl/fjage/blob/master/gateways/python/fjagepy/__init__.py#L591

For example, would this cause an error if `m._deserialize(msg)` throws an error? Because `demsg` would not be defined.

[code]

[2020-05-24 02:12] viktorlidstrom opened #136 "Talking to the C gateway"
Hi! Just got my program talking to unet via the C gateway, so I just wanted to drop a comment on some of the issues that I encountered. I'm not very experienced with github and/or development in a larger team, so please forgive me if I'm not doing this in a standard way.

All of these are in fjage.c:
The #pragma comment(lib, "ws2_32.lib") on line 18 is very non-standard as it defers a linker optio

[2020-05-25 07:08] notthetup commented on #136
Thanks @viktorlidstrom. We'll fix these in the upcoming release. If you have a branch with the fixes, we'll be happy to accept a pull request!

Please raise more issues if you see any bugs or any other places for improvements.

[2020-05-29 06:16] notthetup commented on #64
Another potential option is to migrate to something like https://xtermjs.org/

[2020-05-29 06:36] mchitre commented on #64
Looks reasonable, but we won't know the quirks until we try it. Maybe we should be an internal test version with this replacing hterm to test run?

[2020-06-04 02:47] mchitre opened #141 "Debug occasional timeouts seen during CI"
Continued discussion from:
https://github.com/org-arl/fjage/pull/138#issuecomment-637961225

@ngyewch @notthetup FYI, I've created an issue to continue this discussion from the PR and track the resolution.

[2020-06-19 02:01] mchitre commented on #125
Implemented, right? Close?

[2020-06-19 02:46] mchitre commented on #141
Investigated this further. Performance of OS X VM seems to be really really bad, seeing network delays of more than 5 seconds when the CPU is loaded!

We could drop tests that involve load, and this will be resolved, but then we won't be testing system under load (which frequently leads to uncovering bugs). Alternatively we could drop load tests only on OS X. Thoughts?

[2020-06-19 03:22] notthetup commented on #141
Yup. We usually test on OSX on our laptops. So I'm OK with dropping OS X tests from the CI.

[2020-06-19 03:24] #125 closed

[2020-06-19 03:35] mchitre commented on #141
Done. Let's see how it goes...

[2020-06-26 05:00] prasadtiru commented on #123
@notthetup  I used the PyCharm IDE now to go through the code and clean up, including the issue pointed out above and I have also tested it. Please check the modifications in commit 774666375d9b3fac40629519a453ab9c326db9f5

[2020-06-26 05:03] notthetup commented on #123
That looks good!

[2020-06-28 13:59] #123 closed

[2020-07-10 07:48] mchitre opened #142 "Array parameters should be settable using parameter requests with lists"
Agent parameter `double[] d = [1.0, 2.0]` can be read remotely, but cannot be set using a JSON `[1.0, 2.0]` list. This conversion should be automatic.

[2020-07-26 17:51] mchitre commented on #130
Done for Julia

[2020-07-26 17:51] #130 closed

[2020-07-27 06:25] mchitre opened #143 "Support a slow DiscreteEventSimulator mode, for faster than real-time interactive simulations"
As requested by @ngyewch

Should be straightforward to implement. If so, target 1.8 release.

[2020-07-27 06:51] mchitre commented on #135
Leaving this still as "experimental" in 1.8. This will require much more thought at an architectural level, and perhaps a 2.0 feature.

[2020-07-27 06:52] mchitre commented on #107
Should be fixed. Hard to consistently reproduce and so to cross-check. Reopen if anyone sees this again.

[2020-07-27 06:52] #107 closed

[2020-07-27 08:52] mchitre commented on #143
Done! Works!!
[code]

[2020-07-27 08:52] #143 closed

[2020-07-27 11:07] #142 closed

[2020-07-27 11:10] mchitre opened #144 "Manage nulls better in parameter requests"
Currently nulls are handled poorly in `ParameterReq`:
1. They are used to denote parameters to get, which means you can't set a value to null.
2. If a null is sent and multiple setters exist, method dispatch doesn't know which one to call.

Problem 1 can be fixed by adding an additional `query` boolean. But this involved changes in all gateways, so needs to be tested extensively. Also, this'll bre

[2020-07-27 11:49] ngyewch commented on #143
Wonderful!

[2020-08-03 06:36] notthetup commented on #136
Hey @viktorlidstrom,

I looked into the issues.

1. `#pragma comment(lib, "ws2_32.lib") ` : Examples on [Windows Dev Center](https://docs.microsoft.com/en-us/windows/win32/winsock/creating-a-basic-winsock-application) use `#pragma comment(lib, "Ws2_32.lib")`

Also, I couldn't find any documentation on how to pass msvc linker the option to ask it to link to ws2_32.lib. Please let me know the actual

[2020-08-03 07:38] #129 closed

[2020-08-21 06:59] notthetup opened #146 "New WebShell doesn't deal with lost connections well"
The old web-based shell used to

- Disable the cursor
- Print `(connection lost)`

when it detected the WebSocket connection was lost.

The new shell https://github.com/org-arl/fjage/pull/137 doesn't seem to do that properly.

[2020-08-21 07:26] #141 closed

[2020-08-21 07:40] notthetup commented on #146
OK. I got to the bottom of this. If UnetStack disconnects (either by removing the ethernet cable or by killing the application), then things work fine.

But when the device connected to goes into some kind of sleep mode, somehow the WebSocket's state is kept "Open" and none of the `onclose` or `onerror` callbacks are triggered. I'm not sure how we can detect that.

[2020-08-24 08:03] #146 closed

[2020-12-19 02:55] notthetup opened #161 ""_BSD_SOURCE and _SVID_SOURCE are deprecated, use _DEFAULT_SOURCE""
Saw this warning on Github actions, and also a few systems with more modern libc versions.

[code]

[2020-12-23 03:30] mchitre opened #162 "Add support for auth & firewall in master container"
- [x] Support `auth` field in `alive` JSON message
- [x] Provide plug-in interface to check auth info, with a default implementation based on flat files
- [x] Map credentials to a set of firewall rules, and apply them to incoming/outgoing messages
- [x] Provide plug-in interface to defining firewall rules, with a default implementation based on flat files

[2021-01-08 13:21] #161 closed

[2021-01-09 11:33] mchitre commented on #162
NOTE: `auth` is implemented as a separate `action` instead of `alive` message

[2021-01-09 11:53] mchitre commented on #81
We may want to consider implementing this for performance reasons.

@notthetup  The way to do it could be to share a `wanstMessageFor` list instance across fjåge gateways in a single browser? Easy to implement?

[2021-01-09 11:54] mchitre commented on #104
This should include sending the `auth` action message on the API web socket with credentials. See #162

[2021-01-10 14:03] #162 closed

[2021-01-13 17:04] mchitre opened #164 "Add response to auth request over JSON API"
Add a JSON response to the `{"action": "auth"}` message to provide feedback on whether the auth was successful or not. Optionally, provide a feedback each time a JSON message is ignored because the connection is not authenticated.

@notthetup does this meet the application demand we discussed today?

[2021-01-14 00:38] notthetup commented on #164
Yes. That would meet the application need.

[2021-01-17 03:49] mchitre commented on #164
Done

[2021-01-17 03:49] #164 closed

[2021-01-22 06:26] notthetup commented on #164
@mchitre https://github.com/org-arl/fjage/commit/ae630b42822a3240ec1d1380125a23538bbc8ac0 this commit doesn't seem to have been merged into `dev`

[2021-01-22 07:28] mchitre opened #166 "Backspace in shell fails on some browsers/OS"
@ngyewch was able to reproduce this on Linux
Also reported in https://stackoverflow.com/questions/65834755/how-to-use-backspace-in-unetstack-shell

[2021-01-22 07:29] mchitre opened #167 "Update Gateway to handle auth failures"
Related to #165

- [x] Java gateway @mchitre
- [ ] JS gateway @notthetup
- [ ] Python gateway @prasadtiru
- [ ] C gateway @prasadtiru
- [ ] Julia gateway @mchitre

[2021-01-22 07:38] notthetup commented on #81
Decided to implement this by having a shared topic list across all instances from a single browser using `localStorage`.

A call to `wantsMessageFor` would append to that list and send the updated list to `MasterContainer`. A call to `wantsMessageFor` with a `null` argument would clear the list.

[2021-01-22 07:40] mchitre commented on #164
Merged to `dev`

[2021-01-22 07:47] mchitre opened #168 "fjageJSTest fails often on CI on Ubuntu"
fjageJSTest seems to fail very often on CI on Ubuntu (passed on Windows always) for no apparent reason. Often passes if re-run. Can you take a look?

[2021-01-22 07:51] notthetup commented on #166
I tested this on Firefox on macOS. I can't seem to reproduce this. @ngyewch is this sporadic or is this something that happens all the time?

[2021-01-22 08:06] notthetup commented on #166
Jline seems to have a bunch of updates since we picked it up.

https://github.com/jline/jline3/blob/master/changelog.md

Nothing on `xterm.js`

[2021-01-22 09:30] ngyewch commented on #166
This happens pretty consistently on my laptop, didn't see it on my desktop:
* OS: Ubuntu 20.04
* Chrome: Version 87.0.4280.141 (Official Build) (64-bit)
* infocmp: [infocmp.txt](https://github.com/org-arl/fjage/files/5854821/infocmp.txt)

https://user-images.githubusercontent.com/3282336/105472438-e6363100-5cd6-11eb-8821-637686472dc2.mp4

[2021-01-22 11:55] Priyansh25 commented on #166
I have Ubuntu 18.04.4 LTS , I have tested on both \
Chrome : Version 86.0.4240.183 (Official Build) (64-bit) and \
firefox : 84.0.2 (64-bit)
and the problem is same on both the browsers as told by @ngyewch.

[2021-01-23 10:51] notthetup commented on #166
I tested on Parallels on Ubuntu 16.04 with Firefox and I am still unable to reproduce it. I will try to find a native Linux box to run it on Monday.

[2021-01-23 14:34] manuignatius commented on #166
Tested on both Ubuntu 18.04.05 and 20.04 LTS version (running on Parallels 16) on both Chrome and Firefox, reproducible always. See below. I have seen this issue before but had assumed it was something to do with the terminal setting.

https://user-images.githubusercontent.com/4144181/105583035-f9c2c400-5dca-11eb-9b0d-109b885797c7.mov

[2021-01-24 13:26] mchitre commented on #167
I'll take a stab at the Java one first, and then we can do the rest, once the desired behavior is finalized.

[2021-01-24 14:32] mchitre commented on #167
OK, so here's the updated version:
1. Auth failure JSON messages now tell you which message they are replying to.
2. `authenticate()` returns a `boolean` telling us if the auth was successful or not.
3. `SlaveContainer` & `Gateway` now throw `AuthFailureException` if any API that solicits a response (`agentForService`, `agentsForService`, ``) is called, and it fails due to authentication failure.

[2021-01-24 14:41] mchitre commented on #164
Do note a slight change to the response message to include details of what action failed.

[2021-01-25 01:05] notthetup commented on #168
[code]

[2021-01-25 01:05] notthetup commented on #168
[code]

[2021-01-25 01:18] mchitre commented on #168
Yes, saw the `testParam1` failure once on my machine, but haven't been able to replicate it. Will track those 2 down if I see them again.

[2021-01-25 08:55] notthetup opened #171 "Gradle deprecation warnings"
A few aspects of the `build.gradle` file use older deprecated syntax.

I've a branch that cleans up 2 of the 3 deprecation warnings (https://github.com/org-arl/fjage/tree/gradle-compilation)

The last one is

Unfortunately, I can't test this since it involves pushing to maven. @mchitre would you be take up the branch and see what is required to move to the new plugin.

[2021-01-25 09:16] notthetup commented on #166
OK. I tested this on a new Ubuntu 20.04 (Parallels). And I can reproduce it using Firefox and also when I connected to the Web UI from Chrome on macOS.

So I guess it's not so much related to the front end of things (xterm.js) as much as jline.

[2021-01-25 09:30] notthetup commented on #166
For comparison, I've two dev consoles to two different instances of fjage. One running on Ubuntu 20.04 and one locally on macOS (right).

I typed `ps` and then `Backspace`.

The fjage instance on macOS replies with the keycode for backspace `**[K` while the one on Ubuntu doesn't..

![Screen Shot 2021-01-25 at 17 28 25](https://user-images.githubusercontent.com/553140/105686912-c8fd9e80-5f32-11eb-8

[2021-01-26 01:17] notthetup commented on #167
Yup. That would work for JS. I will update the document with the appropriate information and update the PR.

[2021-01-26 02:33] notthetup commented on #167
Doesn't `request` wait for a response from the master container?

[2021-01-26 02:57] mchitre commented on #167
No, not at a protocol level.

`request()` is a convenience function that sends a message and listens for incoming messages, filters them, and finds a response. However, at a protocol level, _send_ from slave to master is one primitive, and the _send_ from the master to slave is a different primitive. They don't have the same transaction IDs at the JSON protocol level, but are tied together through

[2021-01-26 03:35] notthetup commented on #167
Hmm. The authentications aspect is pretty straightforward.

However, if the message sent from a Gateway/Slave is rejected by the Master container because of an authorization error (`fw.permit` returns `false`), then the Gateway will see it as a timeout and won't be able to differentiate between other errors in the Master container vs authorization error.

We should be able to work around this for

[2021-01-26 04:02] mchitre commented on #167
I agree. The protocol provides the information, just that the Gateway API has trouble exposing it. We could insist that every gateway throw an exception (or equivalent for the language) on a `request()`API as well. It will slightly complicate the implementation of the Gateway, but is doable. So I'm OK to go with that -- I can modify the Java one to do it.

[2021-01-26 05:30] notthetup commented on #166
Moving up to jline-3.19.0 doesn't seem to fix it. :(

[2021-01-26 05:43] mchitre commented on #166
Probably to do with what terminal emulation xterm negotiates with jline.

[2021-01-26 05:49] notthetup commented on #166
Yup. I traced through the code. It effectively does `infocmp xterm-noapp`

Running that on a cli, seems to return valid output on the OS where the issue doesn't exist and returns an empty output where it does.

JLine's Wiki on Terminals doesn't mention `xterm-noapp`, but it has `xterm`. https://github.com/jline/jline3/wiki/Terminals

@mchitre Do you know what the `noapp` suffix is supposed to chan

[2021-01-26 05:52] notthetup commented on #166
On macOS

[code]

[2021-01-26 05:54] mchitre commented on #166
Related info:
https://invisible-island.net/xterm/terminfo.html

`app`/`noapp` is supposed to indicate whether the cursor keys are in "application mode" or not.

[2021-01-26 06:20] notthetup commented on #166
Seems like modern Ubuntu's use a `xterm-256color` as a default

[2021-01-26 06:28] notthetup commented on #166
I tested with both `xterm-256color` and `xterm`.

With `xterm-256color` the issue seems to exist. But if I change it to `xterm`. It seems to go away.

[2021-01-26 07:58] mchitre commented on #166
So can we force the term to `xterm` to fix this?

[2021-01-26 09:02] notthetup commented on #166
It seems to go away when I tested that. I can build a fjage.jar upload it here. @ngyewch could you try and let me know if that fixes it for you?

I wonder though how we can test for regression?

[2021-01-26 09:06] notthetup commented on #166
Created a branch with my change : https://github.com/org-arl/fjage/tree/term-backspace-fix

Here's a jar built on that [fjage-1.9.0-SNAPSHOT.jar.zip](https://github.com/org-arl/fjage/files/5872280/fjage-1.9.0-SNAPSHOT.jar.zip)

[2021-01-26 13:29] mchitre commented on #167
Implemented in 9b4238a0436f469783550ae241b62c2b5c695bb6.

Check only implemented at start and end of `request()`, which means it may wait for a timeout before throwing exception, if the server had not responded by the time the gateway/agent started waiting for response. This is an implementation detail, and other gateways might do it differently, avoiding the wait if they can.

[2021-01-26 13:42] mchitre opened #172 "Windows CI is broken"
Windows CI actually doesn't run any tests!

[2021-01-27 08:08] ngyewch commented on #166
The fix looks good (so far). Today I tested on my Ubuntu 20.04 desktop. I saw the problem on both web (Chrome) and telnet before applying the fix.

Screenshot (telnet, before fix)
![telnet before fix 2021-01-27 15-57-36](https://user-images.githubusercontent.com/3282336/105961377-64208080-60b9-11eb-99c8-b52086bbc24a.png)

Screenshot (telnet, after fix)
![telnet after fix 2021-01-27 16-00-46](https

[2021-01-28 12:07] Priyansh25 commented on #166
It worked on my system as well for both chrome and firefox. Thanks for the fix.

[2021-01-29 04:30] notthetup commented on #166
OK. We need to test this on

### Older Ubuntu <= 20.04
- [ ] Console Shell
- [ ] Web Shell (Firefox, Chrome)
- [ ] Telnet

### Newer Ubuntu 20.04 >=
- [ ] Console Shell
- [ ] Web Shell (Firefox, Chrome)
- [ ] Telnet

### macOS (Catalina/Big Sur)
- [ ] Console Shell
- [ ] Web Shell (Firefox, Chrome, Safari)
- [ ] Telnet

### Windows 10
- [ ] Console Shell
- [ ] Web Shell (Firefox, Chrome, Edge)
- [

[2021-01-29 07:43] notthetup commented on #172
Ah! You need `gradle.bat` for windows? Is that what's missing?

[2021-01-29 18:15] patel999jay commented on #166
I tried on windows 10 on Web Shell(Chrome, Edge), it works fine with them.
![image](https://user-images.githubusercontent.com/5512610/106312017-6ced8f80-623c-11eb-8d9e-55f36a8f490d.png)

[2021-01-30 11:35] notthetup commented on #166
Thanks @patel999jay !

[2021-02-01 08:31] notthetup opened #175 "Compilation issues on Windows"
Trying to compile and run fjage on windows has some issues..

1.

The code to get the commit hash doesn't work on windows.

[code]

2.

In `build.gradle`, `System.getenv().USER` is not available on Windows. `System.getProperty("user.name")` seems to be widely supported.

3. `fjage.sh` doesn't run on Windows, a simple fjage.bat could be created to implement the same logic.

[2021-02-01 08:36] notthetup commented on #166
OK. I tested on all the OSes. The fix seems to work. Will PR the branch.

[2021-02-03 05:35] ngyewch opened #177 "Mechanism for realtime only agents"
It would be useful to provide an mechanism (perhaps annotation @RealTime) to indicate that a particular Agent is incompatible with non-realtime platforms. When such an Agent is used with non-realtime platform, an error should be thrown (at least at runtime, preferably at compile time).

This helps with troubleshooting efforts.

Related to: https://github.com/org-arl/amri/issues/19

[2021-02-03 07:23] notthetup commented on #166
Fixed in #176

[2021-02-03 07:23] #166 closed

[2021-02-03 07:45] mchitre commented on #177
Good idea!

[2021-02-22 02:21] notthetup commented on #167
Semi-unrelated to auth failures, but I also noticed the current implementation doesn't block outgoing messages to an unauthenticated Connection. Since internally all messages with `relay` set to true are broadcasted to every Slave container, if a Slave container is connected over a connection and not yet authenticated, it will still receive all broadcasted messages.

[2021-02-22 14:05] mchitre commented on #167
Hmm. We should check rules on outgoing too. Will raise an issue.

[2021-02-22 14:06] mchitre opened #182 "Check firewall rules for outgoing messages on connections that need auth"

[2021-02-22 14:06] mchitre commented on #167
#182

[2021-03-12 06:28] notthetup opened #184 "Message receiving fails with `'Message' object has no attribute 'logger'` in fjagepy"
If deserializing of a message `Message._deserialize` has an exception, it tries to log it using `self.logger`, but `logger` is only defined on `Gateway` and not `Message` so it fails and throws an exception.

https://github.com/org-arl/fjage/blob/8030476a106e6630cec5eb3e7f36e718fe410cf6/gateways/python/fjagepy/__init__.py#L310..L316

Thanks to @patel999jay for discovering this one.

[2021-04-15 10:21] prasadtiru opened #192 "Extracting byte array failed when location field with data is present in json"
The byte array extraction using `fjage_msg_get_byte_array()` fails when the json contains the `location` field (e.g., as shown below in the json received from a modem `"location":{"clazz":"[D","data":""}`)

It works fine when the location field in the json is set to `""` (e.g., as shown below in the json received from a simulated node  `"location":null`)

The problem seems to be in this part of th

[2021-04-24 09:22] mchitre commented on #192
Fixed. @prasadtiru can you please test and then close?

[2021-05-21 02:13] prasadtiru commented on #192
Tested this on modems. Works now.

[2021-05-21 02:13] #192 closed

[2021-05-21 07:23] notthetup opened #197 "Support for light theme for WebShell"

[2021-05-21 07:34] notthetup commented on #197
https://github.com/xtermjs/xterm.js/blob/4.10.0/typings/xterm.d.ts#L266

[2021-05-21 07:37] notthetup commented on #197
From https://github.com/org-arl/fjage/blob/master/src/main/java/org/arl/fjage/shell/ConsoleShell.java

[code]

[2021-05-21 07:50] notthetup commented on #197
So we are using,

`promptStyle` => `BRIGHT+YELLOW` =>
[code]

`inputStyle` => `WHITE` =>
[code]

`outputStyle` => `GREEN` =>
[code]

`notifyStyle` => `BRIGHT+BLUE` =>
[code]

`errorStyle` => `RED` =>
[code]

[2021-05-21 08:49] notthetup commented on #197
Something like seems to work but needs to be fine tuned.

[code]

[2021-06-11 00:55] notthetup opened #204 "Zero malloc allocated memory"
In some locations in the `fjage.c` it is assumed that memory returned from a `malloc` is zero-ed. This might not hold on to all OSes. It's safer to use `calloc` instead. While `malloc` has better performance than `calloc`, if that isn't critical it's just safer to use `calloc`

[2021-06-16 02:57] prasadtiru opened #207 "API documentation link seems to be broken"
For example, click on the following link:

https://org-arl.github.com/fjage/javadoc/index.html?org/arl/fjage/TickerBehavior.html

[2021-06-16 06:45] mchitre commented on #207
Where did you find this link?

[2021-06-16 06:48] prasadtiru commented on #207
We can visit this link https://fjage.readthedocs.io/en/latest/ on fjage documentation and scroll down to look at `fjåge API documentation` link, clicking on which brings us to https://org-arl.github.com/fjage/javadoc/ which seems to be broken.

[2021-06-16 09:55] mchitre commented on #207
Fixed.

[2021-06-16 09:55] #207 closed

[2021-06-16 10:01] mchitre opened #209 "JSdoc version number is not in sync with fjåge version number"

[2021-06-16 13:39] notthetup commented on #209
Will be flagged by 732e7a7 when it gets merged.

[2021-06-18 04:43] prasadtiru opened #210 "Setting float arrays using fjage C API"
Currently `fjage_msg_add_float_array()` function is used to set array values in a message. This function does base64 encoding of the array. However, the base64 encoding in the JSON message might be incorrect. Here is an example when trying to set `node.location`:

The array is base64 encoded in the JSON message that is sent when we set `node.location` using fjage C APIs shown here:
[code]
whereas,

[2021-06-25 07:12] notthetup commented on #197
Fixed in #198

[2021-06-25 07:12] #197 closed

[2021-07-06 18:04] mchitre commented on #210
The encoding was not incorrect, as we do allow bare base64 array encoding in the specifications (although we configure the Java end to always include class information).

Added 2 fixes to improve compatibility though:
bbb369133e0562ffc12938467f447c57e1ddafbd -- to handle non-b64 encoded arrays in C gateway (was a bug)
c6a3b8d3171ef1c86f558d842b26985ab7c1678a -- to include clazz information in b64

[2021-07-16 07:04] #209 closed

[2021-07-16 13:11] notthetup opened #214 "Add type information to fjage Python gateway"
Python 3.5 supports type information hints in function definitions. Modern editors like VSCode will use them for intelligent auto-complete and prompting.

https://docs.python.org/3/library/typing.html

[2021-07-17 10:54] mchitre commented on #214
@prasadtiru not urgent, but could you take a look when you have some time?

[2021-07-17 11:53] prasadtiru commented on #214
Sure. I will implement this.

[2021-08-04 12:30] YairMZ opened #215 "Issue with closing a gateway with fjagepy on mac os"
I'm trying to use the unetpy module which relies on fjagepy. I'm following the the guide on the unet stack handbook in. here:
https://unetstack.net/handbook/unet-handbook_baseband_service.html

Every thing works as expected, until I try to close the socket. When trying to close the socket I get an exception which prints:
`Exception: [Errno 22] Invalid argument`

It seems the root cause is the call

[2021-08-05 06:55] prasadtiru commented on #215
@YairMZ Could you also share the `unetpy` and `fjagepy` versions that you are working with, please?

[2021-08-05 07:09] mchitre commented on #215
Do note that `socket.shutdown()` is meant to shutdown the whole system (including server), and not just close the socket. `socket.close()` is the right call to just close the socket and leave the server running.

[2021-08-05 07:46] YairMZ commented on #215
@prasadtiru thanks for the response. I'm using version 1.7.2 of `fjagepy`, and version 3.1.2 of `unetpy`.

[2021-08-05 07:49] YairMZ commented on #215
@mchitre I'm aware of the distinction. Which of these behaviors do you see more desirable?
Do you want the server to shutdown whenever a clients closes the connection?

[2021-08-05 07:52] mchitre commented on #215
@YairMZ you'd want to shutdown the server only if you want to reboot a modem or shutdown the simulator. In normal circumstances, you'd only want to close the connection to the server.

[2021-08-05 08:13] notthetup commented on #215
If we're calling the `Gateway.close()` API, which is described as "Closes the gateway. The gateway functionality may no longer be accessed after this method is called.", it internally does a [socket.shutdown()](https://docs.python.org/3/library/socket.html#socket.socket.shutdown). And that's fine.

Neither the API nor the implementation assumes that we're trying to shut down the server (that I bel

[2021-08-05 08:51] YairMZ commented on #215
@mchitre That's why I see the current behavior as unexpected / possibly a bug.

[2021-08-05 08:57] YairMZ commented on #215
@notthetup I followed the example given in the Unet stack handbook to the word. So I believe you can easily reproduce it.
The example in bottom [here](https://unetstack.net/handbook/unet-handbook_baseband_service.html) (section 16.6).

As @mchitre wrote calling [socket.shutdown()](https://docs.python.org/3/library/socket.html#socket.socket.shutdown), closes the server, thus I would think that eith

[2021-08-05 08:58] prasadtiru commented on #215
@YairMZ I have tested this with python 3.9.6 on macOS with `fjagepy 1.7.2` and `unetpy 3.1.2` versions. I am not able to reproduce this problem. See the snapshot below:

The unet process is not killed on `Gateway.close()` and there is no exception.

![Screenshot 2021-08-05 at 4 50 32 PM](https://user-images.githubusercontent.com/4231860/128322004-2c0c1670-d134-4f9e-9cc6-88ddd64eabaa.png)

[2021-08-05 09:00] YairMZ commented on #215
As a side note, when following the example in the the unet stack handbook, I noticed that trying to call access the notification  given by the gateway after it closed (as done in the example), raises another exception, and it works only if the the connection is closed after plotting.
However, Im'm not sure if it is a bug at all, or perhaps only the order of commands in the example there should be

[2021-08-05 09:22] YairMZ commented on #215
@prasadtiru Is it possible that the IPython implementation is different?
I ran it again now and noticed the following:
1. As I wrote before, when trying to close the the connection indeed an exception is raised.
2. However, the unet audio process isn't yet killed.
3. Trying to access the notification after closing (as suggested by the part of the remaining example which you haven't run), causes an

[2021-08-05 09:37] prasadtiru commented on #215
This time I did not use ipython, but the standard python console shell. I still do not see the issue. Moreover, note that `ntf` is just a variable in python, and accessing it should have nothing to do with the socket being closed or open.  See the snapshot below:

![Screenshot 2021-08-05 at 5 30 15 PM](https://user-images.githubusercontent.com/4231860/128328251-b75182d9-9e01-4d6f-8ec8-fdecd9761bdf

[2021-08-05 10:27] mchitre commented on #215
@YairMZ @notthetup OK, I misread the original post and misinterpreted the `socket` as a `UnetSocket`. You're right, calling `gw.close()` should simply close the underlying TCP socket and not be expected to cause any problems.

---

I just tested the same thing as @prasadtiru, using `ipython` REPL and the latest `unet audio`. I can't reproduce the error either.

![image](https://user-images.githubu

[2021-08-05 11:37] YairMZ commented on #215
@prasadtiru @mchitre, thanks for the support. As I see you can't reproduce this, I tried something else on my end. I tried running the example by invoking the python interpreter directly from the terminal (using the same virtual env as before).
I run the example without issues.

Apparently, to reproduce the problem you can try running it as I did before, within PyCharm. The question now is whether

[2021-08-13 07:59] mchitre commented on #215
I have not used PyCharm, and don't have any idea why it would not work in it. If you happen to trace details to find the root cause, we can explore if there is a fix needed in fjagepy to address the problem.

[2021-08-23 05:41] notthetup opened #217 "Connection Closed when transferring large amounts of data over PutFileReq"
When sending large files, chunked, ~1GB using `PutFileReq`, sporadically after a while (~50%) the WebSocketConnection gets closed.

Tracing through it seems this is happening as `BufferedReader.readLine()` seems to return a `null` at https://github.com/org-arl/fjage/blob/dev/src/main/java/org/arl/fjage/remote/ConnectionHandler.java#L92 This cases the `ConnectionHandler` to jump out of the `while`

[2021-08-23 05:58] mchitre commented on #217
From the documentation of [`BufferedReader.readLine()`](https://docs.oracle.com/javase/8/docs/api/java/io/BufferedReader.html#readLine--), it is meant to return `null` only if _the end of the stream has been reached_. So, it does seem that the returned `null` processing is correct. So the problem must occur in an upstream input stream that the `BufferedReader` is reading from.

Tracing back, it sh

[2021-08-23 06:54] notthetup commented on #217
Yup. Very strange why that might be happening. I have a MWE.

This zip archive contains `index.html` and `fjage.js`. If we run an HTTP server in the directory where these two are unzipped (for e.g. `python3 -m http-server`) we should get a UI on `localhost:8080` which generates `PutFileReq` continuously.

It's designed to connect to `localhost:8080/ws` for fjage master container. So a `./fjage.sh

[2021-08-23 08:03] notthetup commented on #217
Interesting.. I tweaked the code to `continue` running if `BufferedReader.readLine()` was null ( but added a WARNING to indicate it happened.)

Reproducing with the MWE 👆🏾 I keep getting

[code]

..on the next `BufferedReader.readLine()`.

[2021-08-23 09:09] notthetup commented on #217
Also tried to add `log.warning` to `PseudoInputStream` when it returns a `-1` but that didn't seem to get logged either.

[2021-08-23 09:13] notthetup commented on #217
Seems from `BufferedReader` source that it may return `null` if it somehow read an empty string while expecting a non-empty string..

https://github.com/openjdk/jdk/blob/jdk8-b120/jdk/src/share/classes/java/io/BufferedReader.java#L329

[code]

[2021-08-23 12:57] notthetup opened #218 "Support base64 encoding of large arrays of data in JS Gateway"
Currently, the JS Gateway doesn't encode large arrays of data as base64 for efficient transport. We should add this support for improved performance of things like `PutFileReq`.

It can be implemented using JavaScript TypedArrays. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays

[2021-08-27 03:31] notthetup opened #219 "Convert assertTrue/assertFalse to assertEquals.."
When testing something we can either use `assertTrue(server.errors == 0)` or `assertEquals(server.errors, 0)`

From a test perspective, there is no difference, when the test fails the way both of them are reported is different.

The former gives

[code]

whereas the latter prints out the values in the stack trace which are very useful when debugging errors (especially on CI where it's hard to get

[2021-08-27 09:17] notthetup opened #220 "Create a minimal jar without web resources"
Currently, the default jar is built with the `resources` which include the WebShell UI and `fjage.js`. `fjage.js` is now based on the JS Gateway so it requires `npm` to build. This might not always be the case.

So the suggestion is to generate two jars

- `fjage.jar` : includes WebShellUI and `fjage.js`
- `fjage-minmal.jar` : does not include WebShellUI and `fjage.js`

`fjage-minmal.jar` is alway

[2021-09-05 05:16] #210 closed

[2021-09-05 05:28] mchitre opened #221 "buildjs task seems to rebuild when nothing has changed"
`buildjs` task seems to need to rebuild at every call to `gradle`, and it takes time. This makes development & testing very painful.

[2021-09-05 06:10] notthetup commented on #221
Will investigate and see if it can be sped up.

[2021-09-05 06:12] notthetup commented on #221
OK I guess we can use gradle for this..

https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:up_to_date_checks

[2021-09-06 02:11] ngyewch opened #222 "Connection-based firewall"
`org.arl.fjage.auth.AbstractFirewall` does not seem to take multiple connections (with different credentials) into account. The `auth ` flag in the code essentially behaves as a global variable. Playing around with this seems to show this behaviour. I might be using this wrong though.

I've made something that addresses this issue: https://github.com/ngyewch/fjage-extras/tree/main/fjage-security

[2021-09-07 12:44] mchitre commented on #222
@ngyewch you're right that although each `ConnectionHandler` supports a different firewall instance, the current very simple implementation indeed gives the same `fw` object to each `ConnectionHandler`.

Your solution of using a thread-local session will solve the problem and will work. However, it assumes a single thread per connector, and this could turn out to be brittle in longer term if we ev

[2021-09-07 14:35] ngyewch commented on #222
Agreed. It's a hack for something I needed to implement for use by a 3rd-party (they're not directly using the firewall, just connecting to the `MasterContainer`).

From a pure design standpoint, `Firewall` should not need access to `Connector`.

This probably makes more sense.

[code]

[code]

In this case `Firewall.authenticate()` shouldn't require a `Connector` parameter (ideally), but this can

[2021-09-07 14:38] mchitre commented on #222
We can rework the firewall API, as the API isn't used much anywhere yet and can be considered experimental. Better to get the design right now, than to hack around later.

[2021-09-10 01:54] #222 closed

[2021-09-20 06:11] notthetup opened #225 "ShellAgent should catch java.security.AccessControlException as well as IOException when handling file access requests"
Currently, the ShellAgent specifically catches IOExceptions when handling file access requests (GetFileReq, PutFileReq).

[code]

However, accessing files can also throw `AccessControlException` if a Java Security Policy is in place. If those aren't caught at this level, the entire Shell crashes.

[code]

[2021-10-13 02:06] notthetup opened #226 "fjage.py can't set a non-index parameter after accessing an indexed parameter."
When using the `agentID.parameter = value` syntax of the fjage.py gateway, if we use to try to access a non-index parameter AFTER accessing an indexed parameter, it seems like Gateway tries to still access the indexed parameter. Somehow the last accessed index is somehow cached.

[code]

Gives something like this :

[code]

[2021-10-22 07:45] notthetup opened #227 "Check for memory leakages in fjage C APIs"
Originally from https://github.com/org-arl/unet/issues/861

[2021-10-26 02:26] mchitre opened #228 "Differentiated timeouts for serial vs TCP connections"
TCP slave connections such as from Julia containers need longer timeouts to allow compilation. On the other hand, serial slave connections need short timeouts to avoid waiting for disconnected slaves. We should use differentiated timeouts depending on the type of connection.

[2021-11-06 09:35] mchitre opened #230 "`ps` implicitly assumes all agents respond to `ParameterReq`"
Recently introduced class names for remote agents implicitly assumes all agents respond to `ParameterReq` for parameter `type`. This is a poor assumption and should be removed.

Suggested fix:
- Update fjåge JSON protocol to optionally include classname in `"action": "agents"` response.
- Display info on whether the agent is remote or local in the display

[2021-11-07 17:40] mchitre commented on #230
Fixed.

Currently adds a `[R]` tag at the end of the `ps` entry for remote agents. Example:
[code]

Other possible styles:

VERBOSE:
[code]

DISCRETE:
[code]

@notthetup Preferences? Alternative suggestions?

[2021-11-07 17:40] #230 closed

[2021-11-08 01:36] notthetup commented on #230
Ooops. I prefer the VERBOSE style.

[2021-11-08 04:37] mchitre commented on #230
Changed to `[REMOTE]`

[2021-11-08 07:03] notthetup commented on #221
49f091e should fix this.

[2021-11-08 07:04] #221 closed

[2021-11-08 16:14] mchitre opened #233 "Windows CI broken"
Windows CI is broken as one of the JAR attributes turns out to be `null` on Windows:
[code]
perhaps `System.getenv().USER`?

Temporarily disabled Windows CI to avoid it from canceling Linux CI.

[2021-11-08 16:15] mchitre opened #234 "fjagejs CI broken"
Error on Linux CI:
[code]

I get similar error on OS X.

[2021-11-09 02:37] notthetup commented on #233
I've a branch which fixes some of these issues but not all..

https://github.com/org-arl/fjage/tree/windows-github-actions

[2021-11-09 03:13] notthetup commented on #234
Interesting. It works fine on my setup on OSX. So I'm guessing it's something with the `nodejs` environment. I have added verbose logging to the CI and it seems to not run the `jasmine` tests at all but it runs the `puppeteer` ones just fine.

[2021-11-09 03:38] notthetup commented on #234
OK. Figured it out. When we added https://github.com/org-arl/fjage/pull/231, we moved the dependency of "compiling" the Javascript version of `fjage.js` from `processResources` task to `jars` task

But when we run `gradle test` we don't run `jars` so fjage.js isn't being compiled.

[2021-11-09 05:08] notthetup commented on #234
Fixed in 570b767

[2021-11-09 05:08] #234 closed

[2021-11-09 09:16] notthetup commented on #233
OK. I fixed this branch (mostly just rebase) https://github.com/org-arl/fjage/tree/windows-github-actions to make the windows build work on CI.

Most of the other tests seem to be passing but `testShell` fails when deleting files.

I moved the hardcoded dir to `java.io.tmpdir` for the test so it could create/delete the file from the appropriate temporary directory based on the platform. And all th

[2021-11-10 05:19] mchitre commented on #233
Hmm. The `FAILURE` response without an exception logged seems to suggest that `File.delete()` returns `false`. But the file clearly exists, since all other tests pass and we see it in the DIR listing. Might be worth printing filename in `ShellAgent`, just before deleting and removing the `if (rsp != null && rsp.getPerformative() == Performative.AGREE)` check in `BasicTests.java` to see if the file

[2021-11-11 04:22] notthetup commented on #233
1636604435509|INFO|org.arl.fjage.test.BasicTests$ShellTestAgent@39:action|del rsp: FAILURE

[2021-11-11 04:27] notthetup commented on #233
Seems like `File.delete` doesn't give much explanation as to why it failed, but `Files.delete()` does throw this exception.

[2021-11-11 04:45] notthetup commented on #233
Ah! I know the file is being held open by the `isCache`! Cleaning it before deleting seems to help!

[2021-11-11 05:08] notthetup opened #236 "fjage.c Gateway tests on Windows"
`fjage.c` tests on Windows are disabled in the test suite, since the build steps don't work on windows.

https://github.com/org-arl/fjage/blob/windows-github-actions/src/test/groovy/org/arl/fjage/test/fjagecTest.groovy#L15

The cleanest way would be to move from Make to CMake for compiling the fjage.c gateway and tests.

[2021-11-11 08:59] notthetup commented on #236
I have a WIP version which supports shared and static libraries on *nix and Windows :)

https://github.com/org-arl/fjage/tree/fjagec-cmake

[2021-11-29 01:24] mchitre commented on #172
Related to #233. Closing as duplicate -- fix there.

[2021-11-29 01:24] #172 closed

[2021-12-16 14:46] mchitre opened #237 "Overloaded CPU causes `RejectedExecutionException`"
Happens when running a fjåge application while running Google meet, which uses a lot of CPU.

**From logs**
[code]

**From console:**
[code]

[2022-01-20 17:11] mchitre opened #238 "samples are broken"

[2022-03-15 01:51] notthetup commented on #109
Looks like we might need to relook at this for consistency.

- We use GSON with `NaN` stringified as NaN and `Infinity` as Infinity and `-Infinity` as -Infinity tokens
- `JSON.jl` seems to have support deserialization but needs a custom subclass of `Serializer` for serialization.
- Python has built-in support.
- Javascript requires moving to a different library like https://github.com/json5/json5

[2022-04-22 04:39] #236 closed

[2022-05-04 09:43] notthetup opened #243 "fjåge shell keeps giving MultipleCompilationErrorsException if an incorrect `import` command is sent"
If I accidentally type an incorrect  `import` command on the fjåge Groovy shell then I can't run any commands after that. This makes the shell totally unusable.

[code]

[2022-05-30 01:25] notthetup opened #244 "Migrate fjage.c to use sc-queue"
The fjåge C gateway uses an custom generic queue implementation to store messages https://github.com/org-arl/fjage/blob/master/gateways/c/fjage.c#L243

We have had some issues with the queue implementation before. It might be safer to rely on an external well-tested queue implementation instead of re-inventing the wheel.

https://github.com/tezc/sc/tree/master/queue is a generic and clean and well

[2022-06-07 01:58] notthetup opened #245 "Enable `InterpreterMode` in fjåge Shell"
Groovy Shell has an `InterpreterMode` which allows shell variables to be typed. This would make it simpler for copy-pasting Java/Groovy code into the Shell. http://groovy-lang.org/groovysh.html#GroovyShell-InterpreterMode

[2022-07-07 03:40] notthetup opened #246 "fjage Gateways should use the `param` and `value` field of a ParameterReq"
[fjage](https://github.com/org-arl/fjage) defines that `ParameterReq` should always have it's `param` field set. In the case of multiple parameters being get/set, the 2nd parameter onwards can be stuffed into the `requests` field.

The current `fjagepy` and `fjage.js` Gateways implementation ALWAYS uses the `requests` field even for a request with a single parameter. This should be fixed.

- [x] f

[2022-07-15 06:54] mchitre opened #249 "Complex number support for fjåge JSON protocol"
Some languages support complex arrays (e.g. Julia, Python, etc). But JSON doesn't, and Java doesn't. We serialize complex arrays as interleaved real/imaginary parts, which is fine. But we need a way to indicate that the array data is to be treated as complex.

UnetStack uses a mechanism or adding a boolean `true` field with a suffix `__isComplex` for complex arrays. For example, if a field `signal

[2022-07-16 09:41] notthetup commented on #249
Also to update `Gateway.md` to update the spec to mention this.

[2022-07-22 04:21] #246 closed

[2022-08-30 02:03] notthetup opened #253 "Listing of an `AgentID` with a subclass of `NamedParameter` causes a `MissingPropertyException`"
When using subclasses of `org.arl.fjage.param.NamedParameter` which are exposed by an Agent, when listing the `AgentID` in a Groovy shell (like the one provided by the ShellAgent), a `MissingPropertyException` is thrown.

For example,`org.arl.fjage.sentuator.ConfigParam` from [fjage-sentuator](https://github.com/org-arl/fjage-sentuator) is a subclass of `org.arl.fjage.param.NamedParameter`.

https

[2022-10-12 09:07] notthetup opened #257 "`*FileRsp` Messages is missing in fjage.py"
We only define these messages in `fjage.py`. It's missing `PutFileRsp` and `GetFileRsp`.

[code]

[2022-11-11 04:30] prasadtiru commented on #257
Fixed in https://github.com/org-arl/fjage/pull/259

[2022-11-11 05:31] #257 closed